.error {
    min-height: calc(100vh - 8.8rem);
    background: url(../img/404/1.png) center center/cover no-repeat;
    padding: .1rem;

    @media all and (max-width: 1060px) {
        min-height: calc(100vh - 6.48rem);
    }

    @media all and (max-width: 576px) {
     background: url(../img/404/2.png) center center/cover no-repeat;
    }

    &__number {
        margin-top: 14rem;
        font-family: Hyundai Sans Head Office, sans-serif;
        text-align: center;
        display: block;
        font-size: 30rem;
        line-height: 30rem;
        font-weight: 700;
        background: linear-gradient(180deg, #747272 0%, #151515 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-bottom: 5.4rem;


        @media all and (min-width: 1920px) {
           margin-top: 24rem;
        }

        @media all and (max-width: 992px) {
           margin-bottom: 2rem;
           font-size: 23rem;
           line-height: 26rem;
        }

        @media screen and (max-width: 680px) {
            font-size: 14.4rem;
            line-height: 14.4rem;
            margin: 7rem 0 0;
        }
    }

    &__desc {
        font-family: Hyundai Sans Head Office, sans-serif;
        font-weight: 700;
        font-size: 3.6rem;
        line-height: 5.4rem;
        text-align: center;
        color: #828282;
        margin-bottom: 9rem;

        @media screen and (max-width: 680px) {
            font-size: 3.2rem;
            line-height: 4.8rem;
        }
    }

    &__button {
        font-family: Hyundai Sans Head Office, sans-serif;
        padding: 2.1rem 2rem;
        height: 5.8rem;
        width: 30rem;
        font-size: 1.6rem;
        line-height: 2.1rem;
        background: linear-gradient(180deg, #FFB069 0%, #F2994A 100%);
        color: #fff;
        border-radius: 4px;
        display: block;
        margin: 0 auto;
        text-align: center;



        &:hover {
            background: linear-gradient(0deg, #676767, #676767), linear-gradient(180deg, #FFB069 0%, #F2994A 100%);
            background-blend-mode: overlay, normal;
            color: #fff;
            text-decoration: none;
        }
    }
}
