.about {
	z-index: 3;
	position: relative;

	.container {
		padding: 8rem 2rem 2rem;
		

		@media screen and (max-width: 1000px) {
			padding: 6rem 1rem;
		}
	}

	&__wrapper {
		display: flex;
		justify-content: space-between;

		@media screen and (max-width: 1000px) {
			flex-direction: column;
			text-align: center;
			align-items: center;
			justify-content: center;
		}
	}

	&__logo {
		display: block;
		width: 14rem;
		margin-bottom: 7rem;

		@media screen and (max-width: 1000px) {
			margin: 0 auto 6rem;
		}
	}

	&__block {
		@media screen and (max-width: 1000px) {
			margin-bottom: 4rem;

			&:last-child {
				margin-bottom: 0;
			}
		}

		&-info {
			width: 30rem;			
		}
	}

	&__title {
		font-family: Hyundai Sans Head Office, sans-serif;
		font-size: 1.8rem;
		line-height: 3.2rem;
		font-weight: 700;
		color: #fff;
		display: block;
		margin-bottom: 2rem;

		&-load {
			margin-bottom: 4rem;
		}
	}

	&__item {
		font-family: Hyundai Sans Head Office, sans-serif;
		font-size: 1.4rem;
		line-height: 2.5rem;
		 

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__link,
	&__link:hover {
		text-decoration: none;
		color: #bdbdbd;
		position: relative;

		&:hover::after {
			content: "";
			width: 100%;
			height: 2px;
			position: absolute;
			bottom: -10%;
			left: 0;
			background: linear-gradient(0deg, #676767, #676767), linear-gradient(180deg, rgba(255, 176, 105, 0.5) 0%, rgba(242, 153, 74, 0.5) 100%);
			background-blend-mode: overlay, normal;
			border-radius: 2px;
		}
	}

	&__company {
		font-family: Hyundai Sans Head Office, sans-serif;
		font-size: 1.8rem;
		font-weight: 700;
		line-height: 3.2rem;
		color: #fff;
		display: block;
		margin-bottom: 1rem;

		&-link,
		&-link:hover {
			position: relative;
			color: #fff;
			text-decoration: none;
		}

		&-link:hover::after {
			content: "";
			width: 100%;
			height: 2px;
			position: absolute;
			bottom: -10%;
			left: 0;
			background: linear-gradient(0deg, #676767, #676767), linear-gradient(180deg, rgba(255, 176, 105, 0.5) 0%, rgba(242, 153, 74, 0.5) 100%);
			background-blend-mode: overlay, normal;
			border-radius: 2px;
		}

		&:last-of-type {
			margin-bottom: 6rem;
		}
	}

	&__write-director {
		position: relative;
		font-family: Hyundai Sans Head Office, sans-serif;
		font-size: 1.4rem;
		line-height: 2.5rem;
		color: #BDBDBD;
		padding-left: 4rem;
		text-decoration: none;

		&:hover,
		&:focus {
			color: #FFFFFF;
			text-decoration: none;

			&::after {
				border-bottom: 0.1rem dashed  #FFFFFF;
			}
		}

		&::before {
			position: absolute;
			content: "";
			width: 1.8rem;
			height: 1.8rem;
			top: 0.5rem;
			left: 0.5rem;
			background-image: url(../img/about/pen.svg);
			background-position: center center;
			background-repeat: no-repeat;
			background-size: contain;
		}

		&::after {
			position: absolute;
			content: "";
			width: 14.1rem;
			height: 0.5rem;
			top: 2rem;
			left: 4rem;
			border-bottom: 0.1rem dashed #BDBDBD;
		}
	}

	

	&__load {
		&-item {
			margin-bottom: 2.5rem;
			display: flex;
			align-items: center;
			&:last-child {
				margin-bottom: 0;
			}
		}

		&-img {
			margin-right: 2rem;
		}
	}

	&__desc {
		font-family: Hyundai Sans Head Office, sans-serif;
		font-size: 1.4rem;
		line-height: 2.5rem;
		color: #bdbdbd;
		width: 10rem;

		@media screen and (max-width: 1000px) {
			text-align: left;
		}
	}

	&__format {
		font-family: Hyundai Sans Head Office, sans-serif;
		font-size: 1.4rem;
		line-height: 2.5rem;

		&-link {
			color: #bdbdbd;
			text-decoration: underline;

			&:hover {
				color: #fff;
			}
		}

		&--doc {
			margin-right: 1rem;
		}
	}

	&__email {
		font-family: Hyundai Sans Head Office, sans-serif;
		font-size: 1.8rem;
		line-height: 2.7rem;
		font-weight: 500;
		color: #fff;
		margin-bottom: 1rem;
		display: block;
		white-space: nowrap;

		&:hover {
			background: linear-gradient(0deg, #676767, #676767), linear-gradient(180deg, #ffb069 0%, #f2994a 100%);
			background-blend-mode: overlay, normal;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	}

	&__phone {
		font-family: Hyundai Sans Head Office, sans-serif;
		font-size: 3.6rem;
		line-height: 5.4rem;
		font-weight: 500;
		color: #fff;
		margin-bottom: 3rem;
		display: block;
		

		&-link {
			color: #fff;
			text-decoration: none;
			display: block;

			&:hover {
				background: linear-gradient(0deg, #676767, #676767), linear-gradient(180deg, #ffb069 0%, #f2994a 100%);
				background-blend-mode: overlay, normal;
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
			}
		}
	}

	&__info {
		font-family: Hyundai Sans Head Office, sans-serif;
		font-size: 1.4rem;
		line-height: 2.5rem;
		color: #bdbdbd;
		margin-bottom: 1rem;
		display: block;

		&-desc {
			font-family: Hyundai Sans Head Office, sans-serif;
			font-size: 1.6rem;
			line-height: 2.4rem;
			color: #fff;
			margin-bottom: 3rem;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}
