.accuracy {
    padding: 10rem 0;
    background-image: url(../img/accuracy/1.png), url(../img/accuracy/2.png);
    background-size: contain, cover;
    background-repeat: no-repeat;
    background-position: 0 100%, 100% 100%;

	@media screen and (max-width: 1150px) {
        background-image: url(../img/accuracy/2.png);
        background-size: cover;
        padding: 6rem 2rem;
    }

	@media screen and (max-width: 375px) {
		padding: 6rem 1rem;
	}

	.container {
		display: flex;
		justify-content: flex-end;
	}

	&__block {
		width: 54rem;

		@media screen and (max-width: 1600px) {
			margin-right: 0rem;
		}
		@media screen and (max-width: 1150px) {
			width: 100%;
			text-align: center;
		}
	}

	&__title {
		font-family: Hyundai Sans Head Office, sans-serif;
		font-size: 3.6rem;
		line-height: 4.7rem;
		color: #333;
		font-weight: 700;
		margin-bottom: 2rem;

		&--bold {
			display: block;
			color: #f2994a;
		}

		@media screen and (max-width: 1200px) {
			margin-bottom: 3rem;
			font-size: 3.2rem;
			line-height: 4.2rem;
		}
	}

	&__desc {
		font-family: Hyundai Sans Head Office, sans-serif;
		font-size: 1.8rem;
		line-height: 2.7rem;
		color: #828282;
		margin-bottom: 10rem;

		@media all and (max-width: 576px) {
			margin-bottom: 9rem;
		}
		&--bold {
			font-weight: 700;
		}
	}

	&__phone {
		font-family: Manrope, sans-serif;
		font-size: 3.6rem;
		line-height: 5.4rem;
		font-weight: 700;
		color: #333;

		&:hover {
			background: linear-gradient(0deg, #676767, #676767), linear-gradient(180deg, #ffb069 0%, #f2994a 100%);
			background-blend-mode: overlay, normal;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	}

	&__time {
		font-family: Hyundai Sans Head Office, sans-serif;
		display: block;
		font-size: 1.4rem;
		line-height: 2.5rem;
		color: #828282;
		margin-bottom: 2rem;
	}

	&__link {
		display: inline-block;
		font-family: Hyundai Sans Head Office, sans-serif;
		padding: 2rem 7rem;
		height: 5.8rem;
		font-size: 1.6rem;
		line-height: 2.1rem;
		background: linear-gradient(180deg, #ffb069 0%, #f2994a 100%);
		color: #fff;
		border-radius: 4px;

		&:hover {
			background: linear-gradient(0deg, #676767, #676767), linear-gradient(180deg, #ffb069 0%, #f2994a 100%);
			background-blend-mode: overlay, normal;
			color: #fff;
			text-decoration: none;
		}
	}
}
