.actual__vacancy {
	padding: 9rem 1rem;
	background-color: #fff;

	@media screen and (max-width: 1190px) {
		padding: 6rem 1rem;
	}

	&-wrapper {
		display: flex;
		justify-content: space-between;

		@media screen and (max-width: 1190px) {
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}
	}

	&-title {
		font-family: Hyundai Sans Head Office, sans-serif;
		font-size: 3.6rem;
		line-height: 5.4rem;
		font-weight: 700;
		color: #333;
		margin-bottom: 6rem;

		@media screen and (max-width: 1200px) {
			text-align: center;
			margin-bottom: 3rem;
			font-size: 3.2rem;
			line-height: 4.2rem;
		}
	}

	&-available {
		width: 30rem;

		&-elem {

			&-tab {
				display: none;

				&.tab--active {

					@media all and (max-width: 1190px) {
						display: block;
					}
				}
			}
		}
	}

	&-block {
		margin-right: 2rem;

		@media screen and (max-width: 1205px) {
			margin-right: 1rem;
		}
		@media screen and (max-width: 1190px) {
			margin-right: 0;
		}

		@media screen and (max-width: 1190px) {
			margin-bottom: 2rem;
			width: 50%;
		}

		@media screen and (max-width: 920px) {
			width: 100%;
		}

		&:last-child {
			margin-right: 0;
		}
	}

	&-tab {
		flex: 1;
		display: none;
		margin-right: 2rem;

		@media screen and (max-width: 1205px) {
			margin-right: 1rem;
		}

		&.tab--active {
			@media all and (min-width: 1190px) {
				display: block;
			}
		}
	}

	&-item {
		font-family: Hyundai Sans Head Office, sans-serif;
		font-size: 1.6rem;
		line-height: 2.9rem;
		border-radius: 4px;
		padding: 1.2rem 5rem 1.2rem 3rem;
		width: 30rem;
		margin-bottom: 1rem;
		background-color: #f2f2f2;
		color: #333;
		text-align: left;

		@media screen and (max-width: 1190px) {
			width: 100%;
		}

		&:hover,
		&:focus {			 
			background-color: #E0E0E0;
		}

		&--active {
			color: #fff;
			background: linear-gradient(180deg, #4b4b4b 0%, #404040 100%);
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	&-require {
		width: 100%;
	}

	&-conditions {
		display: flex;
		justify-content: flex-start;
		padding: 2.8rem 4rem;
		border: 1px solid #e0e0e0;
		border-radius: 4px;
		margin-bottom: 2rem;

		@media screen and (max-width: 500px) {
			padding: 3rem;
			flex-direction: column;
		}
	}

	&-wrap {
		@media screen and (max-width: 500px) {
			margin-bottom: 1rem;

			&:last-child {
				margin-bottom: 0;
			}
		}

		&--level {
			margin-right: 8rem;

			@media screen and (max-width: 500px) {
				margin-right: 0;
			}
		}
	}

	&-contract {
		font-family: Hyundai Sans Head Office, sans-serif;
		font-size: 1.4rem;
		line-height: 2.5rem;
		color: #828282;
	}

	&-circs {
		font-family: Hyundai Sans Head Office, sans-serif;
		font-size: 1.6rem;
		line-height: 2.9rem;
		color: #333;

		@media screen and (max-width: 500px) {
			line-height: 2.1rem;
		}

		@media screen and (max-width: 380px) {
			line-height: 2.1rem;
		}
	}

	&-desc {
		font-family: Hyundai Sans Head Office, sans-serif;
		border: 1px solid #e0e0e0;
		border-radius: 4px;
		padding: 3rem 4rem;
		font-size: 1.4rem;
		line-height: 2.5rem;
		color: #828282;
		margin-bottom: 5rem;

		@media all and (max-width: 576px) {
			padding: 3rem;
		}

		p {
			margin-bottom: 4rem;

			&:last-of-type {
				margin-bottom: 0;
			}
		}
		h4 {
			font-weight: 400;
			font-size: 1.4rem;
			line-height: 2.5rem;
			margin-bottom: 0;
		}
		ul {
			margin-bottom: 4rem;
			li {
				margin: 0;
				padding: 0;

				&::before {
					content: '-';
					margin-right: .3rem;
				}
			}
		}
	}

	&-text {
		margin-bottom: 4rem;
	}

	&-sheet {
		margin-bottom: 4rem;
	}

	&-button {
		display: inline-block;
		font-family: Hyundai Sans Head Office, sans-serif;
		padding: 2rem 5.5rem;
		height: 5.4rem;
		color: #fff;
		text-decoration: none;
		border-radius: 0.3rem;
		text-align: center;
		font-size: 1.6rem;
		line-height: 2.1rem;
		background: linear-gradient(180deg, #ffb069 0%, #f2994a 100%);

		@media screen and (max-width: 1190px) {
			max-width: 30rem;
			width: 100%;
			margin-bottom: 4.5rem;
		}

		&:hover {
			background: linear-gradient(0deg, #676767, #676767), linear-gradient(180deg, #ffb069 0%, #f2994a 100%);
			background-blend-mode: overlay, normal;
			color: #fff;
			text-decoration: none;
		}
	}

	&-contact {
		width: 38rem;
		height: 52rem;
		background: linear-gradient(180deg, #4b4b4b 0%, #404040 100%);
		border-radius: 4px;
		padding: 3rem;

		@media screen and (max-width: 1190px) {
			width: 50%;
			text-align: center;
		}

		@media screen and (max-width: 920px) {
			width: 100%;
			padding: 3rem 2rem;
		}
	}

	&-info {
		font-family: Hyundai Sans Head Office, sans-serif;
		font-size: 1.4rem;
		line-height: 2.5rem;
		color: #bdbdbd;
	}

	&-phone {
		font-family: Hyundai Sans Head Office, sans-serif;
		font-size: 3.2rem;
		line-height: 4.8rem;
		font-weight: 700;
		color: #fff;
		transition: 0.3s;
		display: block;
		margin-bottom: 2rem;

		&:hover {
			background: linear-gradient(0deg, #676767, #676767), linear-gradient(180deg, #ffb069 0%, #f2994a 100%);
			background-blend-mode: overlay, normal;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	}

	&-address {
		font-family: Hyundai Sans Head Office, sans-serif;
		font-size: 1.6rem;
		line-height: 2.9rem;
		color: #fff;
		margin-bottom: 2rem;
	}

	&-map {
		width: 32rem;
		height: 25rem;
		border-radius: .4rem;
		overflow: hidden;

		@media screen and (max-width: 1190px) {
			width: 100%;
		}
	}

	#map {
		height: 25rem;
		border-radius: .4rem;
		overflow: hidden;
	}
}
