.advantages {
	background-color: #fff;
	padding: 7rem 0 3.7rem;

	@media screen and (max-width: 1200px) {
		padding: 6rem 0 3rem;
	}

	.container {
		display: flex;
		justify-content: flex-start;

		@media screen and (max-width: 840px) {
			flex-wrap: wrap;
			justify-content: center;
		}

		@media screen and (max-width: 840px) {
			flex-direction: column;
			align-items: center;
		}
	}

	&__block {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		width: 22%;
		margin-right: 2rem;

		@media screen and (max-width: 840px) {
			margin: 0 0 2rem 0;

			&:last-child {
				margin: 0;
			}
		}

		&:last-child {
			margin-right: 0;
		}
	}

	&__img {
		vertical-align: middle;
		margin-bottom: 1rem;
	}

	&__desc {
		font-family: Hyundai Sans Head Office, sans-serif;
		height: 8rem;
		font-size: 1.4rem;
		line-height: 2.1rem;
		color: #828282;
		text-align: center;
	}

	&__main {
		display: block;
		font-size: 1.8rem;
		line-height: 3.2rem;
		font-weight: 700;
		color: #333333;
	}
}
