.banner__vacancy {
	position: relative;
	background: #2D2B28;
  overflow: hidden;

  &::after {
    content: '';
    position: absolute;
    top: -20.2rem;
    right: calc(50% - 91.5rem);
    display: block;
    width: 85.8rem;
    height: 85.8rem;
    border-radius: 50%;
    border: 16rem solid #474747;
    box-sizing: border-box;
    z-index: 1;

    @media all and (max-width: 992px) {
      top: unset;
      left: unset;
      right: -7rem;
      bottom: -9rem;
      border: 10rem solid #474747;
      width: 60rem;
      height: 60rem;
    }
    @media all and (max-width: 768px) {
      border: 8rem solid #474747;
      width: 48rem;
      height: 48rem;
    }
    @media all and (max-width: 576px) {
      width: 40rem;
      height: 40rem;
    }
    @media all and (max-width: 375px) {
      border: 6rem solid #474747;
      width: 31rem;
      height: 31rem;
    }
  }

	&--container {
		position: relative;
		z-index: 2;
		display: flex;
		justify-content: flex-end;
		flex-direction: column;
		background-image: url(../img/header/4.png);
		background-position: 100% 100%;
		background-size: auto;
		background-repeat: no-repeat;
		padding: 10rem 2rem;

		@media screen and (max-width: 840px) {
			padding: 5rem 1rem 50rem;
			background-position: center bottom;
		}
		@media screen and (max-width: 576px) {
			background-size: 30rem;
			padding: 4rem 1rem 40rem;
		}
		@media screen and (max-width: 375px) {
			background-size: 26rem;
			padding: 4rem 1rem 34rem;
		}
	}

	&-title {
		font-family: Hyundai Sans Head Office, sans-serif;
		color: #fff;
		line-height: 6.2rem;
		font-size: 4.8rem;
		font-weight: 700;
		width: 60rem;
		margin-bottom: 5rem;

		@media screen and (max-width: 840px) {
			width: 100%;
			text-align: center;
			margin-bottom: 4rem;
			line-height: 4.2rem;
			font-size: 3.2rem;
		}
	}

	&-list {
		font-family: Manrope, sans-serif;
		color: #828282;
		font-size: 1.8rem;
		line-height: 3.2rem;

		@media screen and (max-width: 840px) {
			width: 100%;
			text-align: center;
		}
	}

	&-item {
		margin-bottom: 1rem;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&-img {
		margin-right: 2rem;
	}
}
