.banner {
  position: relative;
	background: #2D2B28;
  overflow: hidden;

  &::after {
    content: '';
    position: absolute;
    top: -30.2rem;
    right: calc(50% - 60rem);
    display: block;
    width: 85.8rem;
    height: 85.8rem;
    border-radius: 50%;
    border: 16rem solid #474747;
    box-sizing: border-box;
    z-index: 1;

    @media all and (max-width: 992px) {
      top: unset;
      left: unset;
      right: -7rem;
      bottom: -10rem;
      border: 10rem solid #474747;
      width: 60rem;
      height: 60rem;
    }
    @media all and (max-width: 768px) {
      border: 8rem solid #474747;
      width: 48rem;
      height: 48rem;
    }
    @media all and (max-width: 576px) {
      width: 40rem;
      height: 40rem;
    }
    @media all and (max-width: 375px) {
      border: 6rem solid #474747;
      width: 31rem;
      height: 31rem;
    }
  }

  @media all and (max-width: 576px) {

  }

    &--container {
      position: relative;
      z-index: 2;
      display: flex;
      justify-content: space-between;
      background-image: url(../img/header/2.png);
      background-position: 65% 101%;
      background-size: 43%;
      background-repeat: no-repeat;
      padding: 10rem 0 7rem 0;

      @media all and (max-width: 1400px) {
        padding-left: 2rem;
        padding-right: 2rem;
      }

      @media screen and (max-width: 1000px) {
        display: block;
        padding: 5rem 2rem 50rem;
        background-position: center bottom;
      }

      @media all and (max-width: 768px) {
        background-size: 60rem;
      }
      @media all and (max-width: 576px) {
        padding: 5rem 2rem 35rem;
        background-size: 40rem;
      }
      @media all and (max-width: 375px) {
        background-size: 95%;
        padding: 5rem 1rem 27rem;
      }

    }

    &__right-side {
      display: flex;
      justify-content: flex-end;
      flex-direction: column;
      margin-left: 6rem;

      @media screen and (max-width: 1000px) {
        margin-left: 0;
        margin-bottom: 3rem;
      }

    }

    &__title {
        font-family: Hyundai Sans Head Office, sans-serif;
        color: #fff;
        line-height: 5.5rem;
        font-size: 4.2rem;
        font-weight: 700;
        width: 56rem;
        margin-bottom: 2rem;

        @media screen and (max-width: 1000px) {
			    width: 100%;
		    	text-align: center;
			    margin-bottom: 4rem;
			    line-height: 4.2rem;
			    font-size: 3.2rem;
		    }
    }

    &__cost {
      font-family: Hyundai Sans Head Office, sans-serif;
      color: #828282;
      font-size: 1.8rem;
      line-height: 3.2rem;
      margin-bottom: 3rem;

      @media screen and (max-width: 1000px) {
        width: 100%;
        text-align: center;
      }
    }

    &__request {
        position: relative;
        font-family: Hyundai Sans Head Office, sans-serif;
        width: 30rem;
        padding: 1.7rem 6rem;
        height: 5.4rem;
        border-radius: 4px;
        color: #fff;
        font-size: 1.6rem;
        line-height: 2.1rem;
        text-align: center;
        background: linear-gradient(180deg, #FFB069 0%, #F2994A 100%);
        display: block;
        cursor: pointer;
        text-decoration: none;
        box-shadow: 0 .3rem 0 #DA863B;

        @media screen and (max-width: 1000px) {
          margin: 0 auto;
        }

        &:hover {
            background: linear-gradient(0deg, #676767, #676767), linear-gradient(180deg, #FFB069 0%, #F2994A 100%);
            background-blend-mode: overlay, normal;
            color: #fff;
            text-decoration: none;
            box-shadow: 0 .3rem 0 #C76D1E;
        }
    }

    &__left-side {
      max-width: 30rem;
      margin-left: auto;
      margin-right: 3.5rem;
      padding-top: 1rem;

      @media screen and (max-width: 1000px) {
        margin: 0 auto;
        max-width: 50rem;
      }
    }

    &__offer {
      font-family: Hyundai Sans Head Office, sans-serif;
      font-size: 2.6rem;
      line-height: 3.4rem;
      color: #FFFFFF;
      font-weight: 700;
      margin-bottom: 3rem;
    }

    &__feature-list {
      list-style: none;
      padding-left: 7.5rem;

      @media screen and (max-width: 1000px) {
        padding-left: 0;
        padding-right: 2rem;
      }
    }

    &__feature-item {
      position: relative;
      font-family: Hyundai Sans Head Office, sans-serif;
      font-size: 1.6rem;
      line-height: 2.1rem;
      color: #FFFFFF;
      font-weight: 400;
      padding-left: 2.2rem;
      margin-bottom: 1rem;

      &::before {
        content: "";
        position: absolute;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: linear-gradient(180deg, #FFB069 0%, #F2994A 100%);
        top: 0.5rem;
        left: 0;
      }
    }
}
