
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    padding-top: 8.8rem;
    @media all and (max-width: 1060px) {
      padding-top: 6.48rem;
    }
}

.button {
  font-weight: 500;
  text-decoration: none;
  box-shadow: 0 .3rem 0 #DA863B;

  &:hover {
   box-shadow: 0 .3rem 0 #C76D1E;
 }
}

.no-style-link {
  color: inherit;
  text-decoration: none;
  &:hover {
    color: inherit;
  }
}

.text-nowrap {
  white-space: nowrap;
}

.form--feedback {
  input, select {
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    &:focus {
      border-color: #FFA055;
    }

    &::placeholder {
		  color: #A5A5A5;
		}

    &.sec-field {
      display: none;
    }
  }
  box-sizing: border-box;
}

.about-footer-container {
  position: relative;
  overflow: hidden;
  background: #333;

  &::before {
    content: '';
    position: absolute;
    top: 32%;
    left: 9%;
    display: block;
    width: 85.8rem;
    height: 85.8rem;
    border-radius: 50%;
    border: 16rem solid #474747;
    box-sizing: border-box;
    z-index: 2;

    @media screen and (max-width: 1000px) {
      top: 55%;
      left: -28%;
    }

    @media screen and (max-width: 700px) {
      top: 17%;
      left: -28%;
    }
  }

  
}


