.clients {
	padding: 9rem 2rem;
	background-color: #fff;

	@media screen and (max-width: 1260px) {
		padding: 6rem 1rem;
	}

	&__title {
		font-family: Hyundai Sans Head Office, sans-serif;
		font-size: 3.6rem;
		line-height: 5.4rem;
		font-weight: 700;
		color: #333;
		margin-bottom: 6rem;

		@media screen and (max-width: 1200px) {
			text-align: center;
			margin-bottom: 3rem;
			font-size: 3.2rem;
			line-height: 4.2rem;
		}
	}

	&__wrapper {
		display: grid;
		grid-template: auto / repeat(auto-fill, minmax(14rem, 1fr));
		grid-column-gap: 2rem;
		grid-row-gap: 2rem;
	}

	&__block {
		display: flex;
		align-items: center;
		justify-content: center;
		background: white;
		border-radius: .4rem;
		height: 9rem;
		padding: 2rem 1rem;

	}

	&__img {
		vertical-align: top;
		max-width: 100%;
		max-height: 100%;
	}
}
