.comment {
	background-color: #fff;
	padding: 8rem 2rem 6rem;

	@media all and (max-width: 576px) {
		padding: 6rem 0 9rem;
	}

	&__title {
		font-family: Manrope, sans-serif;
		font-size: 3.6rem;
		line-height: 5.4rem;
		font-weight: 700;
		color: #333;
		margin-bottom: 8rem;

		@media screen and (max-width: 1200px) {
			text-align: center;
			margin-bottom: 3rem;
			font-size: 3.2rem;
			line-height: 4.2rem;
		}
	}

	&__wrapper {

		.slick-list {
			padding: 2rem .5rem 4rem;
			min-height: 31.8rem;
		}

		.slick-dots {
			display: flex;
			bottom: -28%;
			justify-content: center;
			left: 50%;
			position: absolute;
			transform: translateX(-50%);

			li {
				&:last-of-type {
					margin-right: 0;
				}

				button {
					font-family: Hyundai Sans Head Office, sans-serif;
					font-size: 1.6rem;
					line-height: 2.9rem;
					text-decoration: underline;
					color: #BDBDBD;
					padding: 0 0.75rem;
				}

				&.slick-active {
					button {
						color: #4F4F4F;
					}
				}
			}
		}

		.slick-arrow {
			position: absolute;
			z-index: 1;
			background-repeat: no-repeat;
			background-position: 50% 50%;
			bottom: -4rem;
			width: 4rem;
			border-radius: 50%;
			padding: 1.8rem;
			border: 2px solid #000;
			background-color: transparent;
		

			&:hover,
			&:focus {
				border: 2px solid #FFB069;
			}
		}

		.slick-prev {			
			left: 1rem;
			bottom: -6rem;

			&::after {
				position: absolute;
				content: "";
				width: 0.6rem;
				height: 0.6rem;
				border-bottom: 2px solid #151515;
				border-left: 2px solid #151515;
				transform: rotate(45deg);
				top: 1.5rem;
				left: 1.5rem;
			}

			&:hover::after,
			&:focus::after {
				border-bottom: 2px solid #F2994A;
				border-left: 2px solid #F2994A;
			}
		}

		.slick-next {			
			transform: rotate(180deg);
			right: 1rem;
			bottom: -6rem;

			&::after {
				position: absolute;
				content: "";
				width: 0.6rem;
				height: 0.6rem;
				border-bottom: 2px solid #151515;
				border-left: 2px solid #151515;
				transform: rotate(45deg);
				top: 1.7rem;
				left: 1.5rem;
			}

			&:hover::after,
			&:focus::after {
				border-bottom: 2px solid #F2994A;
				border-left: 2px solid #F2994A;
			}
		}
	}

	&__block {
		outline: none;
		width: 33%;
		padding: 4rem 3rem;
		box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.08);
		background-color: #fff;
		margin: 0 1rem;
		position: relative;
		text-align: center;

		&.slick-slide {
			min-height: 25.8rem;
		}		
	}

	&__head {
		font-family: Hyundai Sans Head Office, sans-serif;
		font-size: 1.8rem;
		line-height: 3.2rem;
		margin-bottom: 2rem;
		color: #000;
		display: block;
	}

	&__desc {
		font-family: Hyundai Sans Head Office, sans-serif;
		font-size: 1.4rem;
		line-height: 2.5rem;
		color: #828282;
		display: block;

		&:last-of-type {
			margin-bottom: 3rem;
		}
	}

	&__text {
		text-align: left;
		margin-bottom: 5rem;
		font-family: Hyundai Sans Head Office, sans-serif;
		font-size: 1.4rem;
		line-height: 2.1rem;
		color: #828282;
	}

	&__img {
		margin: 0 auto;
	}
}
