.company__banner {
	position: relative;
	background: #2D2B28;
  	overflow: hidden;

  &::after {
    content: '';
    position: absolute;
    top: -20.2rem;
    right: calc(50% - 91.5rem);
    display: block;
    width: 85.8rem;
    height: 85.8rem;
    border-radius: 50%;
    border: 16rem solid #474747;
    box-sizing: border-box;
    z-index: 1;

    @media all and (max-width: 992px) {
      top: unset;
      left: unset;
      right: -6rem;
      bottom: -8.5rem;
      border: 10rem solid #474747;
      width: 60rem;
      height: 60rem;
    }
    @media all and (max-width: 768px) {
      border: 8rem solid #474747;
      width: 48rem;
      height: 48rem;
    }
    @media all and (max-width: 576px) {
      width: 40rem;
      height: 40rem;
    }
    @media all and (max-width: 375px) {
      border: 6rem solid #474747;
      width: 31rem;
      height: 31rem;
    }
  }

	&--container {
		position: relative;
		z-index: 2;
		display: flex;
		justify-content: flex-end;
		flex-direction: column;
		background-image: url(../img/company/1.png);
		background-position: 100% 20%;
		background-size: auto;
		background-repeat: no-repeat;
		padding: 8rem 2rem 7rem 2rem;

		@media screen and (max-width: 880px) {
			padding: 5rem 2rem 50rem;
			background-position: center bottom;
			align-items: center;
		}
		@media screen and (max-width: 576px) {
			padding: 5rem 1rem 50rem 1rem;
			background-size: 85%;
		}
		@media screen and (max-width: 375px) {
			padding: 5rem 1rem 36rem 1rem;
		}
	}

	&__title {
		font-family: Hyundai Sans Head Office, sans-serif;
		color: #fff;
		line-height: 6.2rem;
		font-weight: 700;
		font-size: 4.8rem;
		margin-bottom: 2rem;

		@media screen and (max-width: 880px) {
			width: 100%;
			text-align: center;
			margin-bottom: 4rem;
			line-height: 4.2rem;
			font-size: 3.2rem;
		}
	}

	&__cost {
		font-family: Hyundai Sans Head Office, sans-serif;
		color: #828282;
		font-size: 1.8rem;
		line-height: 3.2rem;
		margin-bottom: 60px;

		@media screen and (max-width: 880px) {
			width: 100%;
			text-align: center;
		}
	}

	&-wrap {
		display: inline-flex;
		width: 46rem;
		font-family: Hyundai Sans Head Office, sans-serif;
		font-size: 1.6rem;
		line-height: 2.1rem;
		text-align: center;
		font-weight: 700;
		border-radius: .4rem;
		overflow: hidden;

		@media screen and (max-width: 880px) {
			justify-content: center;
		}
		@media all and (max-width: 480px) {
			width: 100%;
		}
	}

	&-switch {
		flex: 1;
		padding: 1.8rem 0;
		height: 5.4rem;
		background: linear-gradient(180deg, #4b4b4b 0%, #404040 100%);
		color: #fff;
		text-decoration: none;
		white-space: nowrap;


		&:hover,
		&:focus {
			color: #fff;
			text-decoration: none;
			background: linear-gradient(180deg, #747272 0%, #151515 100%);
			background-blend-mode: overlay, normal;
		}

		&.switch--active {
			background: linear-gradient(180deg, #ffb069 0%, #f2994a 100%);

			&:hover,
			&:focus {
				color: #fff;
				text-decoration: none;
				background: linear-gradient(0deg, #676767, #676767), linear-gradient(180deg, #FFB069 0%, #F2994A 100%);
				background-blend-mode: overlay, normal;
			}
		}
	}
}
