
.comment__wrapper .custom-dots {
  margin-top: 0;
}

.custom-dots {
  margin-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: Hyundai Sans Head Office;
  font-size: 1.6rem;
  line-height: 2.9rem;


  li {
    button {
      cursor: pointer;
      margin: 0 .7rem;
      text-decoration-line: underline;
      color: #BDBDBD;

      &[hidden] {
        display: none;
      }
    }


    &.slick-active {
      button {
        color: #4f4f4f;
      }
    }


  }



}


