.docs {
	background-color: #f6f4f3;
	padding: 9rem 2rem;

	@media screen and (max-width: 1200px) {
		padding: 6rem 1rem;
	}

	&__title {
		font-family: Hyundai Sans Head Office, sans-serif;
		font-size: 3.6rem;
		line-height: 5.4rem;
		color: #333;
		font-weight: 700;
		margin-bottom: 6rem;

		@media screen and (max-width: 1200px) {
			text-align: center;
			margin-bottom: 3rem;
			font-size: 3.2rem;
			line-height: 4.2rem;
		}
	}

	&__wrapper {
		display: flex;
		justify-content: center;

		@media screen and (max-width: 1020px) {
			flex-direction: column;
			align-items: center;
		}
	}

	&__block {
		background-color: #fff;
		margin-right: 2rem;
		padding: 5rem;
		width: 50%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.08);

		@media screen and (max-width: 1020px) {
			width: 80%;
			margin: 0 0 2rem 0;
		}

		@media screen and (max-width: 760px) {
			width: 100%;
			padding: 5rem 2rem;
		}

		@media screen and (max-width: 576px) {
			padding: 4rem 2rem;
		}

		&:last-child {
			margin-right: 0;
		}

		&-wrap {
			display: flex;
			align-items: center;
		}
	}

	&__head {
		min-height: 4rem;
		font-family: Hyundai Sans Head Office, sans-serif;
		font-size: 1.8rem;
		line-height: 3.2rem;
		color: #000;
		margin-bottom: 2rem;
		display: block;

		@media all and (max-width: 576px) {
			min-height: unset;
			margin-bottom: 4rem;
		}
	}

	&__desc {
		font-family: Hyundai Sans Head Office, sans-serif;
		font-size: 1.4rem;
		line-height: 2.1rem;
		color: #828282;
		margin-bottom: 4rem;

		@media all and (max-width: 576px) {
			line-height: 2.5rem;
		}
	}

	&__img {
		margin-right: 3rem;
	}

	&__load {
		font-family: Hyundai Sans Head Office, sans-serif;
		font-size: 1.4rem;
		line-height: 2.5rem;
		text-decoration: underline;
		color: #828282;

		&:hover {
			color: #333;
		}
	}
}
