@mixin font-face($font-family, $file-path, $weight: normal, $style: normal) {
	@font-face {
		font-family: $font-family;
		src: url("#{$file-path}.woff2");
		font-weight: $weight;
		font-style: $style;
	}
}

@include font-face("Hyundai Sans Head Office", "../fonts/HyundaiSansHeadOffice-Light", 300);
@include font-face("Hyundai Sans Head Office", "../fonts/HyundaiSansHeadOffice-Regular", 400);
@include font-face("Hyundai Sans Head Office", "../fonts/HyundaiSansHeadOffice-Medium", 500);
@include font-face("Hyundai Sans Head Office", "../fonts/HyundaiSansHeadOffice-Bold", 700);

@include font-face("Manrope", "../fonts/Manrope-Light", 300);
@include font-face("Manrope", "../fonts/Manrope-Regular", 400);
@include font-face("Manrope", "../fonts/Manrope-Bold", 700);
