.footer {
	padding: 3rem 0;
	z-index: 3;
	position: relative;

	@media screen and (max-width: 700px) {
		padding: 3rem 0;
		border-top: 1px solid rgba(255, 255, 255, 0.1);;
	}

	.container {
		display: flex;
		justify-content: space-between;

		@media screen and (max-width: 700px) {
			flex-direction: column;
			justify-content: center;
			align-items: center;
			text-align: center;
		}
	}

	&__item {
		font-family: Hyundai Sans Head Office, sans-serif;
		width: 33%;
		font-size: 1.4rem;
		color: #bdbdbd;
		line-height: 1.4rem;
		margin-top: auto;

		@media screen and (max-width: 700px) {
			margin-bottom: 2rem;
			width: 100%;

			&:last-child {
				margin-bottom: 0;
			}
		}

		&--second {
			text-align: center;
		}

		&:last-child {
			margin-right: 0;
			text-align: right;

			@media screen and (max-width: 700px) {
				text-align: center;
			}
		}
	}

	&__link {
		text-decoration: none;
		color: #bdbdbd;
		margin-bottom: 2rem;
		display: block;

		&:hover {
			color:  #fff;
			text-decoration: none;
		}

		&--politics:hover {
			color: #fff;
			text-decoration: underline;
		}
	}

	&__info {
		font-family: Hyundai Sans Head Office, sans-serif;
		color: #BDBDBD;
		font-size: 1.4rem;
		line-height: 2.5rem;
		display: block;
	}
}
