.gratitude {
	padding: 9rem 2rem;
	background-color: #f6f4f3;

	@media all and (max-width: 375px) {
		padding: 6rem 1rem 7rem;
	}
 

	&__title {
		font-family: Hyundai Sans Head Office, sans-serif;
		font-size: 3.6rem;
		line-height: 5.4rem;
		font-weight: 700;
		color: #333;
		margin-bottom: 9rem;

		@media screen and (max-width: 1200px) {
			text-align: center;
			margin-bottom: 3rem;
			font-size: 3.2rem;
			line-height: 4.2rem;
		}
	}

	&__slider {
		padding: 0 6rem;

		&:focus {
			outline: none;
		}

		&-block {
			display: flex;
			justify-content: center;
			margin: 0 1rem;
			overflow: hidden;
		}


		&-img {
			width: 14rem;
			height: 19rem;
			object-fit: cover;
			vertical-align: middle;
			border-radius: .3rem;
		}

		&.slick-initialized {
			.slick-slide {
				outline: none;

				@media all and (max-width: 480px) {
					display: flex;
					justify-content: center;
				}
			}
		}



		.slick-list {
			width: 110rem;
			margin: 0 auto;

			@media screen and (max-width: 1220px) {
				width: 100%;
			}
		}

		.slick-dots {
			display: flex;
			bottom: -25%;
			justify-content: center;
			left: 50%;
			position: absolute;
			transform: translateX(-50%);

			li {
				margin-right: 1.5rem;

				&:last-of-type {
					margin-right: 0;
				}

				button {
					font-family: Hyundai Sans Head Office, sans-serif;
					font-size: 1.6rem;
					line-height: 2.9rem;
					text-decoration: underline;
					color: #BDBDBD;
				}

				&.slick-active {
					button {
						color: #4F4F4F;
					}
				}
			}
		}

		.slick-arrow {
			position: absolute;
			z-index: 1;
			background-repeat: no-repeat;
			background-position: 50% 50%;
			top: 40%;
			width: 4rem;
			border-radius: 50%;
			padding: 1.8rem;
			border: 2px solid #000;
			background-color: transparent;

			&:hover,
			&:focus {
				border: 2px solid #FFB069;
			}
		}

		.slick-prev {			
			left: 0;
			

			&::after {
				position: absolute;
				content: "";
				width: 0.6rem;
				height: 0.6rem;
				border-bottom: 2px solid #151515;
				border-left: 2px solid #151515;
				transform: rotate(45deg);
				top: 1.5rem;
				left: 1.5rem;
			}

			&:hover::after,
			&:focus::after {
				border-bottom: 2px solid #F2994A;
				border-left: 2px solid #F2994A;
			}
		}

		.slick-next {			 
			transform: rotate(180deg);
			right: 0;
			

			&::after {
				position: absolute;
				content: "";
				width: 0.6rem;
				height: 0.6rem;
				border-bottom: 2px solid #151515;
				border-left: 2px solid #151515;
				transform: rotate(45deg);
				top: 1.7rem;
				left: 1.5rem;
			}

			&:hover::after,
			&:focus::after {
				border-bottom: 2px solid #F2994A;
				border-left: 2px solid #F2994A;
			}
		}
	}

	&__wrapper {
		margin-bottom: 9rem;
		display: grid;
		grid-template: auto / repeat(auto-fill, minmax(14rem, 1fr));
		grid-column-gap: 2rem;
		grid-row-gap: 2rem;
	}

	&__block {
		display: flex;
		align-items: center;
		justify-content: center;
		background: white;
		border-radius: .4rem;
		height: 9rem;
		padding: 2rem 1rem;

	}

	&__fancybox-img {
		.fancybox-content {		

			& .fancybox-button {
				&.fancybox-close-small {
					padding: 0;
					width: 3rem;
					height: 3rem;
					opacity: 1;
					top: -0.75rem;
					right: -4rem;
					color: #BDBDBD;
		
					path {
						fill: #BDBDBD;					
					}
		
		
					&:hover path{
						fill: #FFFFFF;
					}
		
					@media screen and (max-width: 992px) {
						top: -3rem;
						right: 0;
		
					}
				}
			}

			.fancybox-button {
				position: absolute;
				width: 4rem;
				height: 4rem;
				border-radius: 50%;
				background-color: transparent;
				cursor: pointer;
				padding: 0;				
			}
			
				
			.prev {	 				 			 
				bottom: -5rem;
				left: 0;
				border: 2px solid #F2F2F2;

				&:hover,
				&:focus {
					border: 2px solid #F2994A;
				}

				&::after {
					position: absolute;
					content: "";
					width: 0.6rem;
					height: 0.6rem;
					top: calc(50% - 0.3rem);
					left: calc(50% - 0.3rem);
					border-bottom: 2px solid #F2F2F2;
					border-left: 2px solid #F2F2F2;
					transform: rotate(45deg);
				}

				&:hover::after,
				&:focus::after {
					border-bottom: 2px solid #F2994A;
					border-left: 2px solid #F2994A;
				}
			}	
			
			.next {				 		
				right: 0;
				bottom: -5rem;
				transform: rotate(180deg);
				border: 2px solid #F2F2F2;

				&:hover,
				&:focus {
					border: 2px solid #F2994A;
				}

				&::after {
					position: absolute;
					content: "";
					width: 0.6rem;
					height: 0.6rem;
					top: calc(50% - 0.3rem);
					left: calc(50% - 0.3rem);
					border-bottom: 2px solid #F2F2F2;
					border-left: 2px solid #F2F2F2;
					transform: rotate(45deg);
				}
			
				&:hover::after,
				&:focus::after {
					border-bottom: 2px solid #F2994A;
					border-left: 2px solid #F2994A;
				}
			}

		}
	}

	&__img {
		vertical-align: top;
		max-width: 100%;
		max-height: 100%;
	}
}