.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #fff;
	box-shadow: 0 .4rem 3rem rgba(0, 0, 0, 0.1);
	padding: 1.3rem 0;
	z-index: 10;

	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;

		@media screen and (max-width: 1150px) {
			justify-content: flex-start;
		}

		&--header {

			@media all and (max-width: 1400px) {
				padding: 0 2rem;
			}
		}
	}

	&__logo {
		max-width: 14rem;

		&-img {
			max-width: 100%;
			@media screen and (max-width: 1150px) {
				width: 10rem;
			}
		}
	}

	&__burger {
		position: absolute;
		top: 25%;
		right: 2rem;
		cursor: pointer;
		display: none;

		@media screen and (max-width: 1150px) {
			display: block;
		}
	}

	&__wrapper {
		display: flex;

		@media screen and (max-width: 1150px) {
			display: none;
			position: fixed;
			padding: 3.6rem 0 5.6rem;
			height: 100%;
			top: 6.4rem;
			right: 0;
			background-color: #fff;
			overflow-y: scroll;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			width: 100%;
			z-index: 9;
		}
	}

	&__nav-close {
		content: url(../img/header/8.png);
		position: fixed;
		right: 2rem;
		top: 2rem;
		transition: all 0.5s;
		display: none;
		cursor: pointer;
		z-index: 11;

		&.close--active {
			display: block;
		}
	}

	&__nav {
		display: flex;
		margin: 0 6rem 0 4rem;

		@media screen and (max-width: 1260px) {
			margin: 0 5rem 0 1rem;
		}

		@media screen and (max-width: 1150px) {
			margin: 0;
		}

		@media screen and (max-width: 1150px) {
			flex-direction: column;
			align-items: center;
			margin-bottom: 9rem;
		}

		&-item {
			font-family: Hyundai Sans Head Office, sans-serif;
			font-size: 1.4rem;
			line-height: 2.5rem;
			position: relative;
			margin-right: 2rem;
			padding-top: 2.5rem;

			&--bread{
				margin-right: .2rem;
			}

			@media screen and (max-width: 1150px) {
				font-size: 1.8rem;
				line-height: 3.2rem;
				font-weight: 700;
				margin: 0;
				padding-top: 1.4rem;
			}

			&:last-child {
				margin-right: 0;
			}

			&::after {
				content: "";
				width: 100%;
				height: 2px;
				position: absolute;
				top: 4.5rem;
				left: 0;
				border-radius: 2px;

				@media all and (max-width: 576px) {
					background: #FAC79A;
				}
			}

			&--active::after {
				background: #F48E44;
				@media all and (max-width: 576px) {
					background: #FAC79A;
				}
			}

			&:hover::after {
				background: #FAC79A;
			}


		}

		&-link {
			text-decoration: none;
			color: #333;

			&:hover,
			&:focus {
				text-decoration: none;
				color: #333;
			}
		}
		
	}

	&__contact {
		display: flex;
		flex-direction: column;
		margin-right: 2.5rem;
		

		@media screen and (max-width: 1150px) {
			align-items: center;
			margin: 0 0 3rem;
		}
	}

	&__time {
		font-family: Hyundai Sans Head Office, sans-serif;
		color: #4f4f4f;
		text-align: right;
		font-size: 1.2rem;
		line-height: 2.2rem;
		font-weight: 300;
		padding-top: 1.5rem;
	}

	&__phone {
		font-family: Hyundai Sans Head Office, sans-serif;
		color: #333;
		text-align: right;
		font-size: 2.2rem;
		line-height: 4rem;
		font-weight: 700;

		&:hover {
			background: linear-gradient(0deg, #676767, #676767), linear-gradient(180deg, #ffb069 0%, #f2994a 100%);
			background-blend-mode: overlay, normal;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	}

	&__order {
		font-family: Hyundai Sans Head Office, sans-serif;
		padding: 1.8rem 4rem;
		margin-right: 1.8rem;
		margin-top: 0.7rem;
		height: 5.4rem;
		color: #fff;
		border-radius: 0.3rem;
		text-align: center;
		font-size: 1.6rem;
		line-height: 2.1rem;
		display: block;
		background: linear-gradient(180deg, #ffb069 0%, #f2994a 100%);

		@media screen and (max-width: 1150px) {
			padding: 1.9rem 1rem 1.2rem;
			margin: 0 auto 1.5rem;
			max-width: 30rem;
		}

		&:hover,
		&:focus {
			background: linear-gradient(0deg, #676767, #676767), linear-gradient(180deg, #ffb069 0%, #f2994a 100%);
			background-blend-mode: overlay, normal;
			color: #fff;
			text-decoration: none;

		}
	}

	&__button {
	
		&--whatsup {
			position: relative;
			display: block;
			font-family: Hyundai Sans Head Office, sans-serif;
			background: linear-gradient(180deg, #59D265 0%, #2BB640 100%) 0% 0%;
			width: 5.4rem;
			height: 5.6rem;
			margin: 0;
			margin-right: 0.8rem;
			padding: 0;
			box-sizing: border-box;
			font-size: 1.4rem;
			line-height: 2.1rem;
			color: #FFFFFF;
			border-radius: 0.3rem;
			text-decoration: none;

			&::after {
				content: "";
				position: absolute;
				width: 3rem;
				height: 3rem;
				top: 1.4rem;
				left: 1.4rem;
				background: url(../img/header/whatsup.svg) center center no-repeat;
			}

			@media screen and (max-width: 1150px) {
				padding: 1.9rem 1rem 1.2rem 5.4rem;
				min-width: 14.5rem;
				width: auto; 
			}

			&:hover,
			&:focus {
				background: linear-gradient(0deg, #676767, #676767), linear-gradient(180deg, #59D265 0%, #2BB640 100%);
				background-blend-mode: overlay, normal;
				color: #FFFFFF;
				text-decoration: none;
			}
		}

		&--viber {
			position: relative;
			font-family: Hyundai Sans Head Office, sans-serif;
			display: block;
			width: 5.4rem;
			height: 5.6rem;
			margin: 0;
			padding: 0;
			box-sizing: border-box;
			border-radius: 0.3rem;
			font-size: 1.4rem;
			line-height: 2.1rem;
			color: #FFFFFF;
			background: linear-gradient(180deg, #9E63AD 0%, #834995 100%) 0% 0%;
			text-decoration: none;

			&::after {
				content: "";
				position: absolute;
				width: 3rem;
				height: 3rem;
				top: 1.4rem;
				left: 1.4rem;
				background: url(../img/header/viber.svg) center center no-repeat;
			}
	

			@media screen and (max-width: 1150px) {
				min-width: 14.5rem;
				width: auto;
				padding: 1.9rem 1rem 1.2rem 5.4rem;
				background-position: 0% 0%;
			}

			&:hover,
			&:focus {
				background: linear-gradient(0deg, #676767, #676767), linear-gradient(180deg, #9E63AD 0%, #834995 100%);;
				background-blend-mode: overlay, normal;				 
				color: #FFFFFF;
				text-decoration: none;
			}
		}
	}

	&__button-text {
		visibility: hidden;

		@media screen and (max-width: 1150px) {
			visibility: visible;
		}
	}

	&__button-wrapper {
		display: flex;
		margin-left: auto;
		margin-top: 0.7rem;

		@media screen and (max-width: 1150px) {
			max-width: 30rem;
			margin: 0 auto;
			justify-content: space-between;
		}
	}
}
