.info {

    &__elem {
        display: none;

        &--active {
            display: block;
        }
    }

    padding: 9rem 2rem;

    &--gray-background {
        background-color: #F6F4F3;;
    }

    &__title {
        font-family: Hyundai Sans Head Office, sans-serif;
        font-size: 3.6rem;
        line-height: 5.4rem;
        margin-bottom: 4rem;
        font-weight: bold;
        color: #333333;
        @media all and (max-width:480px){
            text-align: center;
        }
    }

    &__text {
        font-family: Hyundai Sans Head Office, sans-serif;
        font-size: 1.6rem;
        line-height: 2.4rem;
        color: #4F4F4F;
    }
}