.interview {
	background: #f1f1f1 url(../img/interview/1.png);
	background-size: contain, cover;
	background-repeat: no-repeat;
	background-position: 20% 100%;
	padding: 10.5rem 0;

	@media screen and (max-width: 1600px) {
		background-position: 0 100%, 100% 100%;
	}

	@media screen and (max-width: 1000px) {
		background-image: url(../img/interview/2.png);
		background-size: cover;
		padding: 6rem 0;
	}
	.container {
		display: flex;
		justify-content: flex-end;
	}

	&__block {
		width: 54rem;

		@media screen and (max-width: 1600px) {
			margin-right: 0rem;
		}
		@media screen and (max-width: 1000px) {
			width: 100%;
			text-align: center;
		}
	}

	&__title {
		font-family: Hyundai Sans Head Office, sans-serif;
		font-size: 3.6rem;
		line-height: 4.6rem;
		color: #333;
		font-weight: 700;
		margin-bottom: 2rem;

		&--bold {
			display: block;
			color: #f2994a;
		}
	}

	&__desc {
		font-family: 'Hyundai Sans Head Office' , 'sans-serif';
		font-size: 1.8rem;
		line-height: 2.3rem;
		color: #828282;
		margin-bottom: 8.5rem;

		&--bold {
			font-weight: 700;
		}
	}

	&__phone {
		font-family: Manrope;
		font-size: 3.6rem;
		line-height: 4.4rem;
		font-weight: 700;
		color: #333;

		@media screen and (max-width: 1200px) {
			font-size: 3.2rem;
			line-height: 4.8rem;
		}

		&:hover {
			background: linear-gradient(0deg, #676767, #676767), linear-gradient(180deg, #ffb069 0%, #f2994a 100%);
			background-blend-mode: overlay, normal;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	}

	&__time {
		font-family: Hyundai Sans Head Office, sans-serif;
		display: block;
		font-size: 1.4rem;
		line-height: 2.5rem;
		color: #828282;
		margin-bottom: 2rem;

		@media screen and (max-width: 1200px) {
			line-height: 2.1rem;
		}
	}

	&__link {
		display: inline-block;
		font-family: Hyundai Sans Head Office, sans-serif;
		padding: 2rem 8rem;
		height: 5.8rem;
		font-size: 1.6rem;
		line-height: 2.1rem;
		background: linear-gradient(180deg, #ffb069 0%, #f2994a 100%);
		color: #fff;
		border-radius: 4px;

		&:hover,
		&:focus {
			color: #fff;
			text-decoration: none;
			background: linear-gradient(0deg, #676767, #676767), linear-gradient(180deg, #ffb069 0%, #f2994a 100%);
			background-blend-mode: overlay, normal;
		}
	}
}
