.no__vacancy {
	padding: 9rem 0;
	background-color: #fff;
	.container {
	}

	&-title {
		font-family: Hyundai Sans Head Office, sans-serif;
		font-size: 3.6rem;
		line-height: 5.4rem;
		font-weight: 700;
		color: #333;
		margin-bottom: 6rem;

		@media screen and (max-width: 1200px) {
			text-align: center;
			margin-bottom: 3rem;
			font-size: 3.2rem;
			line-height: 4.2rem;
		}
	}

	&-desc {
		font-family: Hyundai Sans Head Office, sans-serif;
		font-size: 1.8rem;
		line-height: 2.3rem;
		color: #000;
		text-align: center;
		padding: 4rem 5rem;
		border: 1px solid #bdbdbd;
	}
}
