.office {
	padding: 9rem 12rem;
	background-color: #f6f4f3;

	@media screen and (max-width: 785px) {
		padding: 6rem 0;
	}

	.container {
	}

	&__wrap {
		display: flex;
		justify-content: space-between;

		@media screen and (max-width: 1240px) {
			flex-wrap: wrap;
		}
	}

	&__title {
		font-family: Hyundai Sans Head Office, sans-serif;
		font-size: 3.6rem;
		line-height: 5.4rem;
		color: #333;
		font-weight: 700;
		margin-bottom: 6rem;

		@media screen and (max-width: 1240px) {
			margin: 0 auto 1rem;
		}

		@media screen and (max-width: 785px) {
			text-align: center;
			line-height: 4.7rem;
		}
	}

	&__desc {
		font-family: Hyundai Sans Head Office, sans-serif;
		font-size: 1.6rem;
		line-height: 2.9rem;
		color: #4f4f4f;
		padding-top: 1.4rem;

		@media screen and (max-width: 1227px) {
			padding: 0;
			margin: 0 auto 2rem;
		}

		@media screen and (max-width: 785px) {
			text-align: center;
			line-height: 2.9rem;
		}
	}

	&__wrapper {
		display: flex;
		justify-content: space-between;

		@media screen and (max-width: 1400px) {
			flex-direction: column;
			align-items: center;
		}
	}

	&__photo {
		min-width: 46.5rem;
		display: grid;
		grid-template: auto / repeat(2, 1fr);
		grid-gap: 2rem;
		margin-right: 1.5rem;
		margin-bottom: 4rem;
		padding: 0 2rem;

		@media all and (max-width: 1400px) {
			grid-template: auto / repeat(4, 1fr);
			margin-right: 0;
		}
		@media all and (max-width: 576px) {
			display: none;
		}
	}

	&__img {
		max-width: 100%;
		vertical-align: top;
		width: 22rem;
	}

	&__map {
		flex: 1;
		height: 47rem;
		box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.08);
		margin-bottom: 2rem;

		@media all and (max-width:1400px) {
			flex: unset;
			width: 100%;
		}
	}
}
