.order {
	background: linear-gradient(0deg, #FFFFFF, #FFFFFF), radial-gradient(717.07px at 3.12% 6.07%, #00C0FF 0%, #009EE2 100%);
	border-radius: 6px;

	&.fancybox-content {
		padding: 0;
	}

	&.order__wrapper {
		padding: 6rem 8rem;
		display: none;
		position: relative;
		overflow: visible;

		@media all and (max-width: 576px) {
			padding: 4rem 2rem;
		}

		.fancybox-button {
			&.fancybox-close-small {
				padding: 0;
				width: 3rem;
				height: 3rem;
				opacity: 1;
				top: -.7rem;
				right: -4rem;
				color: #bdbdbd;

				path {
					fill: white;

					@media screen and (max-width: 992px) {
						fill: #4F4F4F;
					}
				}


				&:hover {
					color: #fff;
				}

				@media screen and (max-width: 992px) {
					top: 1rem;
					right: 1rem;

				}
			}
		}
	}

	&__wrap {
		max-width: 30rem;
	}

	&__title {
        max-width: 25rem;
		font-family: Hyundai Sans Head Office, sans-serif;
		font-size: 2.4rem;
		line-height: 3.3rem;
		color: #333;
		margin-bottom: 2rem;
		display: block;

		&--color {
			background: linear-gradient(180deg, #FFB069 0%, #F2994A 100%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	}

	&__desc {
		font-family: Hyundai Sans Head Office, sans-serif;
		font-size: 1.4rem;
		line-height: 2.3rem;
		color: #4F4F4F;
		margin-bottom: 4rem;

		@media all and (max-width: 576px) {
			margin-bottom: 2rem;
		}
	}

	&__add-info {
		margin-top: 2rem;
		font-family: Hyundai Sans Head Office;
		font-size: 1.6rem;
		line-height: 1.6;
		font-weight: 500;
		color: #4F4F4F;
		display: none;

		@media all and (max-width: 576px) {
			display: inline-block;
		}
	}

	&__error {

		&-text {
			font-family: Hyundai Sans Head Office, sans-serif;
			font-size: 1.2rem;
			line-height: 1.6rem;
			color: #EB5757;
			display: none;
		}
	}

	&__form {
		width: 100%;

		&-wrap {
			margin-bottom: 3rem;

			&.invalid {
				.order__error-text {
					display: block;
				}
			}
		}

		&-text {
			font-family: Hyundai Sans Head Office, sans-serif;
			font-size: 1.6rem;
			line-height: 2rem;
			width: 100%;
			padding: 2.1rem 3rem 2rem 3rem;
			border: 2px solid #E0E0E0;
			border-radius: 6px;
			outline: none;
			color: #A5A5A5;

			@media all and (max-width: 576px) {
				padding: 1.7rem 3rem 1.5rem 3rem;
			}

			&::placeholder {
				color: #A5A5A5;
			}
		}

		&-submit {
			font-family: Hyundai Sans Head Office, sans-serif;
			font-size: 1.6rem;
			line-height: 2.9rem;
			color: #fff;
			width: 100%;
			padding: 2rem 5rem 1.6rem;
			background: linear-gradient(180deg, #FFB069 0%, #F2994A 100%);
			border-radius: 3px;
			outline: none;
			border: none;
			margin-bottom: 2rem;
			text-align: center;

			@media all and (max-width: 576px) {
				padding: 1.4rem 1rem 1rem;
			}

			&:hover {
				background: linear-gradient(0deg, #676767, #676767), linear-gradient(180deg, #FFB069 0%, #F2994A 100%);
				background-blend-mode: overlay, normal;
				color: #fff;
				text-decoration: none;
			}
		}
	}

	&__politic {
		font-family: Hyundai Sans Head Office, sans-serif;
		width: 25rem;
		font-size: 1.2rem;
		line-height: 1.6rem;
		color: #828282;

		&--link {
			text-decoration: underline;
			color: #828282;
		}
	}
}
