.partner {
	padding: 9rem 12rem;

	@media screen and (max-width: 900px) {
		padding: 6rem 0;
	}

	.container {
	}

	&__wrap {
		display: flex;
		justify-content: space-between;
		text-align: center;

		@media screen and (max-width: 1300px) {
			flex-wrap: wrap;
		}
	}

	&__title {
		font-family: Hyundai Sans Head Office, sans-serif;
		font-size: 3.6rem;
		line-height: 5.4rem;
		color: #333;
		font-weight: 700;
		margin-bottom: 6rem;

		@media screen and (max-width: 1430px) {
			margin: 0 auto 2rem;
		}

		@media screen and (max-width: 900px) {
			font-size: 3.6rem;
			line-height: 4.7rem;
		}
	}

	&__desc {
		font-family: Hyundai Sans Head Office, sans-serif;
		font-size: 1.6rem;
		line-height: 2.9rem;
		color: #4f4f4f;
		padding-top: 1.6rem;

		@media screen and (max-width: 1290px) {
			padding-top: 0;
			margin: 0 auto 4rem;
		}
	}

	&__list {
		display: flex;
		justify-content: space-between;

		@media screen and (max-width: 1430px) {
			justify-content: space-around;
			flex-wrap: wrap;
		}

		@media screen and (max-width: 900px) {
			justify-content: center;
		}
	}

	&__block {
		width: 30rem;
		box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
		border-radius: 3px;
		margin-right: 2rem;
		text-align: center;
		padding: 2.5rem 3rem 1.5rem;

		@media screen and (max-width: 1430px) {
			margin-right: 0;
			margin-bottom: 2rem;
		}

		&:last-child {
			margin-right: 0;
		}
	}

	&__img {
		width: 24rem;
		vertical-align: middle;
	}
}
