.payment {
	background-color: #F6F4F3;
	padding: 9rem 0;

	&--white-background {
		background-color: #FFFFFF;;
	}

	@media screen and (max-width: 1200px) {
		padding: 6rem 0;
	}

	&__wrapper {
		display: flex;

		@media screen and (max-width: 990px) {
			flex-wrap: wrap;
			justify-content: center;
		}

		@media screen and (max-width: 690px) {
			flex-direction: column;
			align-items: center;
		}
	}

	&__title {
		font-family: Hyundai Sans Head Office, sans-serif;
		font-size: 3.6rem;
		line-height: 5.4rem;
		font-weight: 700;
		color: #333;
		margin-bottom: 9rem;

		@media screen and (max-width: 1200px) {
			text-align: center;
			margin-bottom: 3rem;
			font-size: 3.2rem;
			line-height: 4.2rem;
		}
	}

	&__block {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		width: 33%;
		margin-right: 2rem;

		@media screen and (max-width: 960px) {
			margin-right: 0;
			margin-bottom: 2rem;

			&:nth-child(3) {
				margin-bottom: 0;
			}

			&:nth-child(4) {
				margin-bottom: 0;
			}
		}

		@media screen and (max-width: 690px) {
			width: 100%;

			&:nth-child(3) {
				margin-bottom: 2rem;
			}
		}

		&:last-child {
			margin-right: 0;
		}
	}

	&__img {
		vertical-align: middle;
		margin-bottom: 3rem;
		background-image: url(../img/payment/5.png);
		background-repeat: no-repeat;
		background-position: 50% 50%;

		@media screen and (max-width: 690px) {
			background-image: none;
		}

	}

	&__desc {
		font-family: Hyundai Sans Head Office, sans-serif;
		font-size: 1.4rem;
		line-height: 2.1rem;
		color: #828282;
		text-align: center;
	}

	&__main {
		font-family: Hyundai Sans Head Office, sans-serif;
		font-size: 1.8rem;
		line-height: 3.2rem;
		font-weight: 700;
		display: block;
		color: #333;
	}
}
