.performers {
    background-color:#F6F4F3;
    padding: 9rem 2rem;

    @media screen and (max-width: 1200px) {
      padding: 6rem 2rem;
    }

    @media screen and (max-width: 576px) {
      padding: 6rem 1rem;
    }

    &--private {
      background-color: #FFFFFF;
    }

    .container--performers {
        max-width: 126rem;
        margin: 0 auto;
    }

    &__title {
        font-family: Hyundai Sans Head Office, sans-serif;
        margin-bottom: 9rem;
        font-size: 3.6rem;
        line-height: 5.4rem;
        font-weight: 700;
        color: #333;

        @media screen and (max-width: 1200px) {
			text-align: center;
			margin-bottom: 6rem;
			font-size: 3.2rem;
			line-height: 4.2rem;
		}
    }

    &__list {
        display: grid;
        grid-template: auto / repeat(auto-fill, 30rem);
        justify-content: space-between;
        grid-column-gap: 1rem;
        grid-row-gap: 2rem;
        margin-bottom: 8rem;

        @media all and (max-width: 375px) {
            grid-template: auto / 1fr;
        }
    }
    &__item {
        position: relative;
        padding-left: 5rem;
        flex-basis: 30rem;         
        font-family: Hyundai Sans Head Office, sans-serif;
        font-size: 1.6rem;
        line-height: 2.9rem;
        color: #000;

        @media all and (max-width: 375px) {
            flex-basis: unset;
            width: 100%;
        }

        &::after {
            content: '';
            display: block;
            width: 2rem;
            height: 1.5rem;
            position: absolute;
            top: 0.5rem;
            left: 0;
            background: url('../img/why/1.svg') center center/auto no-repeat;
        }

    }

    &__img {
        margin-right: 3rem;

        &-person {
            margin-bottom: 2rem;
            width: 100%;
            height: 28.8rem;
            object-fit: cover;
        }

        &-star {
            vertical-align: middle;
            margin-right: .8rem;
            position: absolute;
            top: 15%;
            left: 8%;
        }
    }

    &__wrapper {
        display: grid;
        grid-template: auto / repeat(4, 1fr);
        flex-wrap: wrap;
        grid-gap: 2rem;


        @media screen and (max-width: 1200px) {
          max-width: 94rem;
            margin: 0 auto;
          grid-template: auto / repeat(3, 1fr);
        }
        @media screen and (max-width: 992px) {
          max-width: 62rem;
          grid-template: auto / repeat(2, 1fr);
        }
        @media screen and (max-width: 640px) {
          max-width: 30rem;
          grid-template: auto / 1fr;
        }
    }

    &__block {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 0 1rem 25rem rgba(0, 0, 0, 0.08);
        background-color: #fff;
        overflow: hidden;
    }

    &__name {
        font-family: Hyundai Sans Head Office, sans-serif;
        font-size: 1.8rem;
        line-height: 3.2rem;
        color: #000;
    }

    &__desc {
        font-family: Hyundai Sans Head Office, sans-serif;
        font-size: 1.4rem;
        line-height: 2.5rem;
        color: #828282;
        margin-bottom: 1rem;
    }

    &__rating {
        margin-bottom: 1.5rem;
        position: relative;
    }

    &__num {
        font-family: Hyundai Sans Head Office, sans-serif;
        font-size: 1.8rem;
        line-height: 2.5rem;
        font-weight: 700;
        color: #000;
        margin: 0 4rem;
        position: relative;

        &:before {
            content: '';
            width: 1px;
            height: 2rem;
            background-color: #828282;
            transform: rotate(180deg);
            position: absolute;
            top: 0;
            right: -2rem;
        }
    }

    &__sum {
        font-family: Hyundai Sans Head Office, sans-serif;
        font-size: 1.4rem;
        line-height: 2.5rem;
        color: #828282;
    }
}
