.politic {
	font-family: 'Hyundai Sans Head Office', sans-serif;
	background: linear-gradient(0deg, #FFFFFF, #FFFFFF), radial-gradient(1019.01px at 3.12% 6.07%, #00C0FF 0%, #009EE2 100%);
	border-radius: 6px;

	&.fancybox-content {
		padding: 0;
	}

	&__close {
		display: block;
		position: absolute;
		top: -.5rem;
		right: -3.5rem;
		z-index: 10;
		&-btn {
				padding: 0;
				width: 3rem;
				height: 3rem;
				opacity: 1;
				top: -.7rem;
				right: -4rem;
				color: #bdbdbd;

				path {
					fill: white;
				}


				&:hover {
					color: #fff;
				}

				@media screen and (max-width: 800px) {
					right: .2rem;
				}
			}

		@media all and (max-width: 992px) {
			top: -3.5rem;
			right: -.5rem;
		}
	}

	&__content {
		padding: 6rem 8rem;

		@media all and (max-width: 768px) {
			padding: 4rem 4rem 7rem;
		}
		@media all and (max-width: 576px) {
			padding: 4rem 2rem 7rem;
		}
	}

	&.politic__wrapper {
		width: 78rem;
		display: none;
		position: relative;
		overflow: visible;

		@media all and (max-width: 992px) {
			border-radius: .6rem .6rem 0 0;

		}
		@media all and (max-width: 576px) {
			margin-top: 4.5rem;
		}

		.fancybox-button {
			display: none;
		}
	}

	&__head {
		font-family: Hyundai Sans Head Office, sans-serif;
		font-size: 2.4rem;
		line-height: 3.6rem;
		color: #333;
		font-weight: 700;
		margin-bottom: 6rem;

		@media all and (max-width: 576px) {
			text-align: center;
			margin-bottom: 4rem;
		}
	}

	&__desc {
		font-size: 1.4rem;
		line-height: 2.5rem;
		color: #212121;
		margin-bottom: 2rem;

		&:last-of-type {
			margin-bottom: 0;
		}
	}
}

.fancybox-container {
	.fancybox-bg {
		background: rgba(51, 51, 51, 0.7);
	}

	.fancybox-slide {
		overflow-y: scroll;
		-ms-overflow-style: none;
    scrollbar-width: none;

		&::-webkit-scrollbar {
			display: none;
		}


		.fancybox-slide--html {
			padding: 5.5rem 1rem 0;

			@media all and (max-width: 576px) {
				padding: 1rem;
			}
		}

	}
}





