.price {
    padding: 9rem 2rem;
    background-color: #fff;

    @media screen and (max-width: 1300px) {
        padding: 6rem 2rem;
    }
    @media screen and (max-width: 375px) {
        padding: 6rem 1rem;
    }

    .breadcrumps{
        &__point{
            display: inline-block;
            font-family: Hyundai Sans Head Office, sans-serif;
            font-size: 1.6rem;
            line-height: 5.4rem;
            font-weight: 400;
            color: #333;
            text-decoration: none;
            padding-right: .5rem;
            &:last-of-type{
                font-weight: 700;
                padding-right: none;
            }

            @media all and(max-width:480px){
                font-size: 1.3rem; 
            }
        }
    }

    &__wrapper {
        display: flex;

        @media screen and (max-width: 1300px) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__title {
        font-family: Hyundai Sans Head Office, sans-serif;
        font-size: 3.6rem;
        line-height: 5.4rem;
        font-weight: 700;
        color: #333;
        margin-bottom: 4rem;

        @media screen and (max-width: 1300px) {
          text-align: center;
          margin-bottom: 3rem;
          font-size: 3.2rem;
          line-height: 4.2rem;
        }
    }

    &__available {
        margin-right: 2rem;
        display: flex;
        flex-direction: column;

        @media screen and (max-width: 1300px) {
            min-width: 64rem;
            margin: 0 auto;
            align-items: center;
        }

        @media all and (max-width: 680px) {
           min-width: unset;
           width: 100%;
       }
    }

    &__item {
        display: inline-block !important;
        text-decoration: none;
        width: 30rem;
        font-family: Hyundai Sans Head Office, sans-serif;
        font-size: 1.6rem;
        line-height: 2.9rem;
        border-radius: 4px;
        padding: 1.2rem 3rem;
        margin-bottom: 1rem;
        background-color: #F2F2F2;
        color: #333;
        text-align: left;
        cursor: pointer;
        font-weight: bold;

        &:hover, 
        &:focus {
            background-color: #E0E0E0;
        }

        &--active {
            background: #F2F2F2;
            
            @media all and (min-width: 1300px) {
                color: #fff;
                background: linear-gradient(180deg, #4B4B4B 0%, #404040 100%);
            }

            .price__table {
                display: block;
            }
        }

        &--bold {
            font-weight: 700;
        }

        &:last-child {
            margin-bottom: 0;
        }

        @media screen and (max-width: 1300px) {
            width: 100%;
            text-align: center;
        }
    }

    &__table {
        display: none;
        width: 100%;

        @media screen and (max-width: 1300px) {
            display: none;
        }

        &--active {
            @media all and (min-width: 1300px) {
                display: block;
            }
        }
        @media all and (max-width:1300px) {
            display: none;
            
        }
    }

    &__header {
        display: flex;

        &-item {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            height: 6rem;
            font-family: Hyundai Sans Head Office, sans-serif;
            font-size: 1.8rem;
            line-height: 4.8rem;
            font-weight: 700; 
            background: linear-gradient(180deg, #4B4B4B 0%, #404040 100%);
            color: #fff;

            @media screen and (max-width: 1300px) {
                font-size: 1.4rem;
                line-height: 2.8rem;
                color: #333333;
            }
            @media all and (max-width: 576px) {
               height: 3.6rem;
            }

            &--service {
                flex: 1;
                padding: 0 2.5rem;
            }

            &--stock {
                background: linear-gradient(180deg, #FFB069 0%, #F2994A 100%);
            }

            &--val {
                justify-content: center;
                width: 24rem;
                text-align: center;
                padding: 0 1rem;
                background: linear-gradient(180deg, #FFB069 0%, #F2994A 100%);  

                @media screen and (max-width: 1300px) {
                    padding: 1rem;
                    width: unset;
                    background-color: #FFFFFF; 
                    background-image: none;            
                }
            }
        }
    }
    &__catalog {
        font-family: Hyundai Sans Head Office, sans-serif;
        font-size: 1.4rem;
        line-height: 1.8rem;
        color: #333;
        display: flex;

        @media screen and (max-width: 1300px) {
            flex-direction: column;
            margin-bottom: 1rem;
        }

        &--last {
            margin-bottom: 3rem;
        }

        .price__wrap {
            display: flex;
            justify-content: space-between;
            border: 1px solid #EDEDED;
            padding: 1rem 2rem;

            @media all and (max-width: 1300px) {
                flex: 1;
            }
        }
    }

    &__service {
        position: relative;
        flex: 1;
        padding: 1.4rem 1.4rem 1.4rem 2.5rem;
        border: 1px solid #EDEDED;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media screen and (max-width: 1300px) {
            width: 100%;  
            
            &::before {
                content: "";
                position: absolute;
                border: 5px solid transparent;
                border-top: 5px solid #C4C4C4;
                top: calc(50%);
                right: 1.5rem;
            }
        }

        &--active {
            background: linear-gradient(180deg, #FFB069 0%, #F2994A 100%);
            color: #FFFFFF;

            &:hover, 
            &:focus {
                background: linear-gradient(0deg, #676767, #676767), linear-gradient(180deg, #FFB069 0%, #F2994A 100%);
				background-blend-mode: overlay, normal;
            }

            &::before {
                transform: rotate(180deg);
                border-top: 5px solid #FFFFFF;
                top: calc(50% - 9px);
            }
        }

        &-cost {
            display: flex;
        }
    }

    &__value {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 4.8rem;
        width: 24rem;         
        text-align: center;
        color: #000;
        padding: 1.4rem 0;
        border: 1px solid #EDEDED;
        
        @media all and (max-width: 1300px) {
            width: 100%;
            justify-content: flex-end;
            border: none; 
        }

        @media all and (max-width: 576px) {
            padding: 0 1rem;
            height: 3.6rem;
        }
    }

    &__note {
        display: none;
        background-color: #F2F2F2;
        

        @media screen and (max-width: 1300px) {             
            margin-bottom: 2rem;
        }

        @media all and (min-width: 1300px) {
            display: block;
        }

        &--hidden {
            display: none;

            @media screen and (max-width: 1300px) {
                display: block;
                width: 100%;
                text-align: center;
                margin-bottom: 2rem;
            }
        }

        &-desc {
            display: none;
            font-family: Hyundai Sans Head Office, sans-serif;
            font-size: 1.6rem;
            line-height: 2.1rem;
            font-weight: 700;
            color: #333;
            padding: 1.3rem 1.3rem 1.3rem 3rem;
            margin-bottom: 9rem;

            @media all and (min-width: 1301px) {
                display: block;
            }

            &--min {
                display: block;
                margin-top: 1rem;
                margin-bottom: 1rem;

                @media all and (max-width: 1300px) {
                    font-size: 1.6rem;
                    line-height: 2.9rem;                    
                    color: #333333;
                    background-color: #FFFFFF;
                    border-radius: 4px;
                    border: 3px solid #4B4B4B;
                }
            }

            &--services {
                display: block;
                margin-bottom: 0;
                line-height: 2.9rem;
                background-color: #FFFFFF;
                text-align: center;
                border: 2px dashed #C4C4C4;
                border-radius: 4px;
            }


        }
    }

    &__available-elem {
        width: 100%;


        &.elem--active {
            margin-bottom: 1rem;

            .price__item {


                &--active {
                    color: #fff;
                    background: linear-gradient(180deg, #4B4B4B 0%, #404040 100%);
                    margin: 3rem 0 0;
                }
            }
        }

        .price__table {
            display: none;
        }

        .price__note {
            display: none;
        }
    }
}

.price__note-desc{
    @media all and (max-width: 1300px){
        
    }
}

.maximal-width{
    width: 100% !important;
}