.profile {
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF), radial-gradient(1019.01px at 3.12% 6.07%, #00C0FF 0%, #009EE2 100%);
	border-radius: 6px;
    display: none;
    min-width: 62rem;

    @media all and (max-width: 640px) {
        min-width: unset;
        width: 100%;
    }


	&.fancybox-content {
        padding: 6rem 8rem;
        position: relative;
		    overflow: visible;
        @media all and (max-width: 576px) {
          padding: 4rem 2rem;
        }
    }

    .fancybox-button {
			&.fancybox-close-small {
				padding: 0;
				width: 3rem;
				height: 3rem;
				opacity: 1;
				top: -.7rem;
				right: -4rem;
				color: #bdbdbd;

				path {
					fill: white;

					@media screen and (max-width: 992px) {
						fill: #4F4F4F;
					}
				}


				&:hover {
					color: #fff;
				}

				@media screen and (max-width: 992px) {
					top: 1rem;
					right: 1rem;

				}
			}
		}

    &__wrapper {
        max-width: 46rem;
        display: flex;
        flex-direction: column;

        @media screen and (max-width: 750px) {
            width: 100%;
        }
    }

    &__title {
        font-family: Hyundai Sans Head Office, sans-serif;
        font-size: 2.4rem;
        line-height: 3.6rem;
        color: #333;
        margin-bottom: 2rem;
    }

    &__desc {
        font-family: Hyundai Sans Head Office, sans-serif;
        font-size: 1.4rem;
        line-height: 2.3rem;
        color: #4F4F4F;
        margin-bottom: 4rem;

        @media all and (max-width: 576px) {
          margin-bottom: 3rem;
        }
    }

    &__politic {
        font-family: Hyundai Sans Head Office, sans-serif;
        font-size: 1.2rem;
        line-height: 1.6rem;
        color: #828282;
    }

    &__form {
        display: flex;
        flex-direction: column;

        &-wrap {
            display: flex;
            justify-content: space-between;

            @media screen and (max-width:750px) {
                flex-direction: column;
            }
        }

        &-text {
            font-size: 1.6rem;
            line-height: 2rem;
            color: #a5a5a5;

            @media screen and (max-width:750px) {
                font-size: 1.4rem;
                line-height: 1.7rem;
            }

            &.invalid {
                .profile__form-birth--error {
                    display: block;
                }
            }
        }

        &-birth {
            display: flex;
            flex-direction: column;
            margin: 0 0 2rem 1rem;
            flex: 1;

            @media all and (max-width: 750px) {
                flex: unset;
                margin-left: 0;
            }

            &--error {
                font-family: Hyundai Sans Head Office, sans-serif;
                font-size: 1.2rem;
                line-height: 1.6rem;
                color: #EB5757;
                display: none;
              margin-top: -.3rem;
            }

            &.invalid {

                .profile__form-birth--error {
                    display: block;
                }
            }
        }

        &-cover {
            margin-bottom: 3rem;
            &--error {
                    font-family: Hyundai Sans Head Office, sans-serif;
                    font-size: 1.2rem;
                    line-height: 1.6rem;
                    color: #EB5757;
                    display: none;
                }

            &.invalid {

                .profile__form-cover--error {
					display: block;
                }
			}
        }

        &-input {
            width: 100%;
            font-family: Hyundai Sans Head Office, sans-serif;
            border: 2px solid #E0E0E0;
            border-radius: 6px;
            height: 6.5rem;
            padding-left: 3rem;
            margin-bottom: 1rem;
            color: #A5A5A5;
            font-size: 1.6rem;
            line-height: 2rem;
            outline: none;

            @media screen and (max-width:750px) {
                font-size: 1.4rem;
                line-height: 1.7rem;
            }
            @media all and (max-width: 576px) {
                height: 5.6rem;
            }

            &::placeholder {
                color: #A5A5A5;
            }

            &:nth-child(3) {
                margin-bottom: 2rem;
            }

            &-select {
                padding: 0 3rem;

                &:focus {
                    background: transparent;
                    outline: none;
                }

            }

            &-data {
                margin-bottom: 0;
            }
        }

        &-data {
            width: auto;
        }

        &-phone {
            width: calc(50% - 1rem);
            margin-bottom: 0;

            @media screen and (max-width:750px) {
                width: 100%;
            }
        }

        &-submit {
            background: linear-gradient(180deg, #FFB069 0%, #F2994A 100%);
            border-radius: 3px;
            color: #fff;
            line-height: 2.9rem;
            border: none;
            outline: none;
            margin-bottom: 2rem;
            padding: 1.5rem 0;

            &:hover {
                background: linear-gradient(0deg, #676767, #676767), linear-gradient(180deg, #ffb069 0%, #f2994a 100%);
                background-blend-mode: overlay, normal;
            }
        }
    }
}
