.quality {
	background-color: #fff;
	padding: 9rem 0;

	&--gray-background {
		background-color: #F6F4F3;
	}

	@media screen and (max-width: 1120px) {
		padding: 6rem 0;
	}

	&__title {
		font-family: Hyundai Sans Head Office, sans-serif;
		font-size: 3.6rem;
		line-height: 5.4rem;
		font-weight: 700;
		color: #333;
		margin-bottom: 8rem;		 

		@media screen and (max-width: 1200px) {
			text-align: center;
			margin-bottom: 3rem;
			font-size: 3.2rem;
			line-height: 4.2rem;
		}
	}

	&__wrapper {
		display: flex;

		@media screen and (max-width: 1120px) {
			flex-direction: column;
			align-items: center;
		}
	}

	&__block {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		width: 33%;
		margin-right: 2rem;
		position: relative;

		@media all and (max-width: 1120px) {
			width: 100%;
		}


		&:before {
			content: url(../img/quality/5.png);
			position: absolute;
			top: 12%;
			left: 73%;

			@media screen and (max-width: 1120px) {
				display: none;
			}
		}

		@media screen and (max-width: 1120px) {
			margin: 0 0 11rem 0;

			&:last-child {
				margin-bottom: 0;

				&:after {
					display: none;
				}
			}
		}

		@media screen and (max-width: 1120px) {
			&:after {
				content: url(../img/quality/6.png);
				position: absolute;
				top: 115%;
				left: 50%;
			}
		}

		&:last-child {
			margin-right: 0;
		}

		&:last-child:before {
			content: "";
		}
	}

	&__img {
		vertical-align: middle;
		margin-bottom: 3rem;
	}

	&__desc {
		font-family: Hyundai Sans Head Office, sans-serif;
		font-size: 1.6rem;
		line-height: 2.4rem;
		color: #4f4f4f;
		text-align: center;
	}

	&__main {
		font-weight: 700;
	}
}
