.question {
	background-color: #fff;
	padding: 12rem 9rem;

	@media all and (max-width: 992px) {
		padding: 9rem 6rem;
	}
	@media all and (max-width: 576px) {
		padding: 6rem 2rem;
	}
	@media all and (max-width: 375px) {
		padding: 6rem 1rem;
	}

	&__title {
		font-family: Hyundai Sans Head Office, sans-serif;
		font-size: 3.6rem;
		line-height: 5.4rem;
		color: #333;
		font-weight: 700;
		margin-bottom: 9rem;

		@media screen and (max-width: 1200px) {
			text-align: center;
			margin-bottom: 3rem;
			font-size: 3.2rem;
			line-height: 4.2rem;
		}
	}

	&__block {
		position: relative;
		border: 2px solid #e0e0e0;
		border-radius: 4px;
		margin-bottom: 2rem;
		padding: 3rem 11rem 3rem 5rem;
		transition: .15s;

		&:hover,
		&:focus {
			border: 2px solid #BDBDBD;
		}

		&::after {
			content: '';
			display: block;
			width: 1.5rem;
			height: 1.7rem;
			position: absolute;
			top: 3.2rem;
			right: 7.5rem;
			background: url('../img/question/up.svg') center center/auto no-repeat;

			@media all and (max-width: 992px) {
				right: 3rem;
			}
			@media all and (max-width: 375px) {
				display: none;
			}
		}

		@media screen and (max-width: 850px) {
			padding: 3rem 2rem;
			width: 100%;
		}

		&--active {
			border: 2px solid #bdbdbd;

			.question__head {
				margin-top: 2rem;
			}

			&::after {
				top: 5rem;
				transform: rotate(180deg);
			}
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__head {
		font-family: Hyundai Sans Head Office, sans-serif;
		padding-right: 5rem;
		font-size: 1.8rem;
		line-height: 3.2rem;
		color: #4f4f4f;
		display: block;
		transition: .15s;
		margin-bottom: 2rem;

		@media all and (max-width: 375px) {
		padding-right: 0;
		}

		&:hover {
			color: #333;
		}
	}

	&__desc {
		font-family: Hyundai Sans Head Office, sans-serif;
		max-width: 102rem;
		font-size: 1.4rem;
		line-height: 1.8rem;
		color: #828282;
	}

	&__img {
		position: absolute;
		top: 50%;
		right: 5%;

		&--active {
			transform: rotate(180deg);
		}

		@media screen and (max-width: 850px) {
			display: none;
		}
	}
}
