.requisites {
    display: flex;
    justify-content: space-between;
    padding: 6rem 8rem;
    font-family: Hyundai Sans Head Office, sans-serif;
    font-size: 1.6rem;
    line-height: 2.9rem;
    color: #4F4F4F;
    background-color: #FFFFFF;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
    border-radius: 3px;

    @media all and (max-width:1400px) {
        flex-wrap: wrap;
    }

    @media all and (max-width:768px) {
         padding: 6rem 2rem;
    }

    &__list {
        @media all and (max-width:1100px) {
            margin-bottom: 4rem;
        }

        @media all and (max-width:768px) {
            margin: 0 auto;
            margin-bottom: 4rem;
       }
    }
    
    &__item {
        display: flex;
        margin-bottom: 1rem;

        @media all and (max-width:768px) {
            display: block;
            text-align: center;
        }
    }
    
    &__title {
        display: block;
        min-width: 4.3rem;
        margin-right: 3.7rem;
        text-align: center;

        @media all and (max-width:768px) {
            margin: 0 auto;
        }
    }

    &__title, 
    &__adress-title{     
        font-weight: bold;
    }

    &__adress-title {
        display: block;
        margin-bottom: 2rem;

        @media all and (max-width:768px) {
            max-width: 9rem;
            margin: 0 auto;
       }
    }

    &__adress-desc {
        max-width: 38rem;

        @media all and (max-width:768px) {
            max-width: 100%;
            text-align: center;
        }
    }

    &__load {
        display: block;
        align-self: flex-start;
        padding: 1.8rem 7rem;
        font-size: 1.6rem;
        line-height: 2.1rem;
        color: #FFFFFF;
        background-color: #4F4F4F;
        border-radius: 4px;
        text-decoration: none;

        &:hover,
        &:focus {
            background: linear-gradient(0deg, #676767, #676767), #4F4F4F;
            background-blend-mode: overlay, normal;
            color: #FFFFFF;
            text-decoration: none;
            border-radius: 4px;
        }

        @media all and (max-width:768px) {
            margin: 0 auto;
            padding: 1.8rem 5rem;
        }
    }

    &__legal-adress {
        @media all and (max-width:1100px) {
            margin-bottom: 5rem;
        }

        @media all and (max-width:768px) {
            margin: 0 auto;
            margin-bottom: 5rem;
       }
    }
}