.reviews {
	background-color: #f6f4f3;
	padding: 9rem 2rem;

	@media screen and (max-width: 1200px) {
		padding: 6rem 1rem;
	}

	&__title {
		font-family: Hyundai Sans Head Office, sans-serif;
		font-size: 3.6rem;
		line-height: 5.4rem;
		color: #333;
		font-weight: 700;
		margin-bottom: 9rem;

		@media screen and (max-width: 1200px) {
			text-align: center;
			margin-bottom: 3rem;
			font-size: 3.2rem;
			line-height: 4.2rem;
		}
	}

	&__wrapper {
		display: grid;
		grid-template: auto / repeat(4, 1fr);
		grid-gap: 2rem;

		@media screen and (max-width: 1200px) {
      max-width: 94rem;
      margin: 0 auto;
      grid-template: auto / repeat(3, 1fr);
    }
    @media screen and (max-width: 992px) {
      max-width: 62rem;
      grid-template: auto / repeat(2, 1fr);
    }
    @media screen and (max-width: 640px) {
      max-width: 30rem;
      grid-template: auto / 1fr;
    }
	}

	&__block {
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: #fff;
		padding: 3rem 2.3rem 4rem;
	}

	&__person {
		font-family: Hyundai Sans Head Office, sans-serif;
		color: #000;
		font-size: 1.8rem;
		line-height: 3.2rem;
		font-weight: 700;
	}

	&__about {
		font-family: Hyundai Sans Head Office, sans-serif;
		font-size: 1.4rem;
		line-height: 2.5rem;
		color: #828282;
		margin-bottom: 3rem;
	}

	&__img-wrap {
		position: relative;
		max-width: 20rem;
		max-height: 20rem;
		margin: 0 auto 3rem;

		@media all and (max-width: 576px) {
			margin-bottom: 5rem;
		}

		&:before {
			content:  url('../img/reviews/5.svg');
			display: flex;
			justify-content: center;
			align-items: center;
			padding-top: .2rem;
			width: 4rem;
			height: 4rem;
			position: absolute;
			border-radius: 50%;
			top: 1rem;
			right: 1rem;
			box-sizing: border-box;
			background: linear-gradient(180deg, #ffb069 0%, #f2994a 100%);
		}
	}

	&__img {
		width: 100%;
		height: 20rem;
		object-fit: cover;
		border-radius: 50%;
	}

	&__desc {
		font-family: Hyundai Sans Head Office, sans-serif;
		font-size: 1.4rem;
		line-height: 2.5rem;
		color: #828282;

		@media screen and (max-width: 1062px) {
			line-height: 2.1rem;
		}
	}
}
