.select-hidden {
  display: none;
  visibility: hidden;
}

.select {
  flex: 1;
  margin-right: 1rem;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  position: relative;
  font-family: 'Hyundai Sans Head Office', sans-serif;
  font-size: 1.6rem;
  line-height: 2.2rem;
  color: #A5A5A5;
  width: 100%;
  height: 6.5rem;

  @media all and (max-width: 750px) {
    font-size: 1.4rem;
    line-height: 1.7rem;
    flex: unset;
    margin: 1rem 0 1rem;
  }
  @media all and (max-width: 576px) {
    height: 5.6rem;
  }
}

.select-styled {
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 3rem;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: white;
  border: .2rem solid #e0e0e0;
  border-radius: .6rem;
  z-index: 10;


  &:after {
    content:"";
    width: 0;
    height: 0;
    border: .5rem solid transparent;
    border-color: #a5a5a5 transparent transparent transparent;
    position: absolute;
    top: calc(50% - .5rem);
    right: 2rem;
  }


  &.active {
    border: .2rem solid #ffa055;
    &:after {
      top: calc(50% - 1rem);
      border-color: transparent transparent #a5a5a5 transparent;
    }
  }
}

.select-options {
  width: 100%;
  display: none;
  position: absolute;
  top: calc(100% - .2rem);
  right: 0;
  left: 0;
  margin: 0;
  list-style: none;
  background-color: white;
  border: .1rem solid  #E0E0E0;
  z-index: 9;

  li {
    display: flex;
    height: 4rem;
    align-items: center;
    padding-left: 3rem;
    border: .1rem solid  #E0E0E0;

    &:first-of-type {
      display: none;
    }

    &[rel="hide"] {
      display: none;
    }
  }
}
