.send {
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF), radial-gradient(719.68px at 3.12% 6.07%, #00C0FF 0%, #009EE2 100%);
    border-radius: 6px;
    display: none;

    &.fancybox-content {
        padding: 8rem;
        position: relative;
		  overflow: visible;

      @media all and (max-width: 576px) {
        padding: 7rem 2rem 4rem;
      }

		.fancybox-button {
			&.fancybox-close-small {
				padding: 0;
				width: 3rem;
				height: 3rem;
				opacity: 1;
				top: -.7rem;
				right: -4rem;
				color: #bdbdbd;

				path {
					fill: white;

					@media screen and (max-width: 992px) {
						fill: #4F4F4F;
					}
				}


				&:hover {
					color: #fff;
				}

				@media screen and (max-width: 992px) {
					top: 1rem;
					right: 1rem;

				}
			}
		}
	}

	&__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        max-width: 30rem;
	}

	&__title {
		font-family: Hyundai Sans Head Office, sans-serif;
		font-size: 2.4rem;
        line-height: 3.6rem;
        font-weight: 700;
		color: #333;
		margin-bottom: 2rem;
        display: block;

    @media all and (max-width: 576px) {
      font-size: 2.2rem;
      line-height: 3.3rem;
    }

		&--color {
			background: linear-gradient(180deg, #FFB069 0%, #F2994A 100%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	}

	&__desc {
		font-family: Hyundai Sans Head Office, sans-serif;
		font-size: 1.6rem;
		line-height: 2.6rem;
		color: #4F4F4F;
		margin-bottom: 6rem;
    }

    &-wrap {
        width: 6rem;
        height: 6rem;
        background: linear-gradient(180deg, #FFB069 0%, #F2994A 100%);
        border-radius: 30px;
        margin-bottom: 4rem;
    }

    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: Hyundai Sans Head Office, sans-serif;
        font-size: 1.6rem;
        line-height: 2.9rem;
        width: 100%;
        height: 6.8rem;
        background: linear-gradient(180deg, #FFB069 0%, #F2994A 100%);
        border-radius: 3px;
        text-align: center;
        color: #fff;
        text-decoration: none;
        padding-top: .3rem;

        @media all and (max-width: 576px) {
          height: 5.4rem;

        }

        &:hover {
            background: linear-gradient(0deg, #676767, #676767), linear-gradient(180deg, #FFB069 0%, #F2994A 100%);
            background-blend-mode: overlay, normal;
            color: #fff;
            text-decoration: none;
        }
    }

    &__img {
        padding-top: 1.8rem;
    }
}
