.services {
    background-color: #fff;
    padding: 9rem 0;

    @media screen and (max-width: 1260px) {
		padding: 6rem 0;
    }

    .container {
        display: flex;
        justify-content: space-between;
        margin-bottom: 6rem;

        @media screen and (max-width: 1270px) {
			flex-wrap: wrap;
			justify-content: center;
		}

		@media screen and (max-width: 930px) {
			flex-direction: column;
            align-items: center;
            margin-bottom: 2rem;
		}
    }

    &__item {
        width: 23.6rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 3rem 3rem;
        background-image: url(../img/services/6.png);
        background-position: 90% 90%;
        background-repeat: no-repeat;
        margin-right: 2rem;
        background-color: #fff;
        box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);        

		@media screen and (max-width: 1270px) {
			margin-bottom: 2rem;

			&:nth-child(3) {
				margin-right: 0;
			}
        }

        @media screen and (max-width: 986px) {

			&:nth-child(2) {
				margin-right: 0;
            }

            &:nth-child(3) {
				margin-right: 2rem;
			}
		}

		@media screen and (max-width: 930px) {
            text-align: center;
            margin-right: 0;
            width: 30rem;

            &:nth-child(3) {
				margin-right: 0;
			}
        }         

		&:last-child {
			margin-right: 0;
		}
	}

    &__img {
        margin-bottom: 3rem;
        max-width: 13rem;
        max-height: 10rem;
    }

    &__option {
        font-family: Hyundai Sans Head Office, sans-serif;
        font-size: 1.6rem;
        line-height: 2.9rem;
        color: #4f4f4f;         
        text-align: center;
        margin-bottom: 2rem;

        &:hover,
        &:focus {
            text-decoration: none;
            color: #4f4f4f; 
        }
    }

    &__cost {
        font-family: Hyundai Sans Head Office, sans-serif;
        font-size: 1.1rem;
        line-height: 2rem;
        color: #4F4F4F;
        padding: 1rem 2rem;
        border: 2px solid #F2994A;
        border-radius: 2.5rem;   
        margin-top: auto;      
    }

    &__price {
        font-weight: 700;
        font-size: 2.5rem;
    }

    &__link {
        width: 30rem;
        font-family: Hyundai Sans Head Office, sans-serif;
        padding: 2rem 5rem;
        height: 5.8rem;
        font-size: 1.6rem;
        line-height: 2.1rem;
        background: linear-gradient(180deg, #FFB069 0%, #F2994A 100%);
        color: #fff;
        border-radius: 4px;
        display: block;
        margin: 0 auto;
        text-align: center;

        &:hover {
            background: linear-gradient(0deg, #676767, #676767), linear-gradient(180deg, #FFB069 0%, #F2994A 100%);
            background-blend-mode: overlay, normal;             
            color: #fff;
            text-decoration: none;
        }
    }

    &__main-link {
        display: flex;
        margin: 0;
        padding: 0;
        text-decoration: none;  

        &:hover,
        &:focus {
            text-decoration: none;             
            box-shadow: 0px 15px 80px rgba(29, 13, 0, 0.15);
        }     
    }
}
