@import "normalize";
@import "fonts";
@import "css/slick";
@import "css/jquery.fancybox";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 10px;
}

.container {
	margin: 0 auto;
	width: 126rem;
}

@media screen and (max-width: 1400px) {
	.container {
		width: 100%;
	}
}

ul,
ol {
	list-style: none;
	margin: 0;
	padding: 0;
}
h1,
h2,
h3,
h4,
h5 {
	margin: 0;
	padding: 0;
}

p {
	padding: 0;
	margin: 0;
}

button {
	background: none;
	border: none;
	cursor: pointer;
	outline: none;
	margin: 0;
	padding: 0;
}

.frozen {
	overflow: hidden;
}
