.time {
	background-color: #fff;
	padding: 9rem 0;

	@media screen and (max-width: 860px) {
		padding: 6rem 0;
	}

	.container {
		display: flex;
		justify-content: space-between;

		@media all and (max-width: 576px) {
			display: block;
		}
	}

	&__block {
		display: flex;
		flex-direction: column;
		align-items: center;

	}

	&__img {
		vertical-align: middle;
		margin-bottom: 2rem;
	}

	&__desc {
		display: flex;
		align-items: center;
		justify-content: center;
		min-height: 8rem;
		flex-direction: column;
		font-family: Hyundai Sans Head Office, sans-serif;
		font-size: 1.6rem;
		line-height: 2.4rem;
		color: #4f4f4f;
		text-align: center;


	}

	&__main {
		font-weight: 700;
		display: block;
	}
}
