.virtues {
	background-color: #fff;
	padding: 12rem 0 9rem;

	@media screen and (max-width: 1200px) {
		padding: 6rem 0 3rem;
	}

	.container {
		display: flex;
		justify-content: space-between;

		@media all and (max-width: 768px) {
			display: block;
		}
	}

	&__block {
		max-width: 30rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		margin-right: 2rem;
		margin-bottom: 2rem;

		@media all and (max-width: 768px) {
			margin: 0 auto;
			margin-bottom: 6rem;
		}
	}

	&__img {
		vertical-align: middle;
		margin-bottom: 2rem;
	}

	&__desc {
		font-family: Hyundai Sans Head Office, sans-serif;
		font-size: 1.6rem;
		line-height: 1.9rem;
		color: #4f4f4f;
		text-align: center;
	}

	&__main {
		font-weight: 700;
	}
}
