.why {
    background-color: #F6F4F3;
    padding: 6rem 0;
    .container {

    }

    &__title {
        font-family: Hyundai Sans Head Office, sans-serif;
        margin-bottom: 9rem;
        font-size: 3.6rem;
        line-height: 5.4rem;
        font-weight: 700;
        color: #333;

        @media screen and (max-width: 1200px) {
			text-align: center;
			margin-bottom: 6rem;
			font-size: 3.2rem;
			line-height: 4.2rem;
		}
    }

    &__list {
        display: flex;
        justify-content: space-between;

        @media screen and (max-width: 920px) {
            flex-direction: column;
            align-items: center;
        }

        &-first {
            margin-bottom: 2rem;

            @media screen and (max-width: 920px) {
                margin-bottom: 0;
            }
        }
    }

    &__item {
        font-family: Hyundai Sans Head Office, sans-serif;
        font-size: 1.6rem;
        line-height: 2.9rem;
        color: #000;
        width: 270px;
        display: flex;

        @media screen and (max-width: 920px) {
            margin-bottom: 2rem;
        }
    }

    &__img {
        margin-right: 2.5rem;
        margin-top: 0.5rem;
        display: block;
        margin-bottom: auto;
        align-self: flex-start;
    }
}

.hide-content{
    @media all and(max-width: 1300px){
        display: none !important;
    }
}
