.write-director { 
    display: none;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF), radial-gradient(95.38% 459.62% at 3.12% 6.07%, #00C0FF 0%, #009EE2 100%);
    border-radius: 6px;
    padding: 6rem 8rem;
    max-width: 62rem;
    font-family: Hyundai Sans Head Office, sans-serif;
    position: relative;
    overflow: visible;
    
    @media all and (max-width: 576px) {
        padding: 4rem 2rem;
    }

    & .fancybox-button {
        &.fancybox-close-small {
            padding: 0;
            width: 3rem;
            height: 3rem;
            opacity: 1;
            top: -0.75rem;
            right: -4rem;
            color: #BDBDBD;

            path {
                fill: #BDBDBD;

                @media screen and (max-width: 992px) {
                    fill: #4F4F4F;
                }
            }


            &:hover path{
                fill: #FFFFFF;
            }

            @media screen and (max-width: 992px) {
                top: 1rem;
                right: 1rem;

            }
        }
    }

    &__title {
        font-size: 2.4rem;
        line-height: 3.6rem;
        font-weight: bold;
        color: #333333;
        margin-bottom: 2rem;

        @media all and (max-width: 576px) {
            max-width: 22rem;
        }
    }
    
    &__promise {
        font-size: 1.4rem;
        line-height: 2.3rem; 
        color: #4F4F4F;
        margin-bottom: 4rem;

        @media all and (max-width: 576px) {
            max-width: 22rem;
        }
    }

    &__form.invalid {
        .write-director__field-wrap {
            margin-bottom: 1rem;

            .write-director__field {
                margin-bottom: 0;
            }

            .write-director__error-text {
             display: block;
            }
        }
}

    &__label {
        position: absolute;
        font-size: 0;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
    }

    &__field {
        font-family: Hyundai Sans Head Office, sans-serif;
        font-size: 1.6rem;
        line-height: 2rem;
        border: 2px solid #E0E0E0;
        border-radius: 6px;
        width: 100%;
        padding: 2.3rem 5rem 2.3rem 3rem;
        margin-bottom: 1rem;
        outline: none;
        color: #A5A5A5;
        
        &::placeholder {
            color: #A5A5A5;
        }

        &:hover {
            border: 2px solid #BDBDBD;
        }

        &:focus {
            border: 2px solid #FFB069;
        }
    }

    &__error-text {
			font-family: Hyundai Sans Head Office, sans-serif;
			font-size: 1.2rem;
			line-height: 1.6rem;
			color: #EB5757;
			display: none;
	}

    &__field--text {
        font-family: Hyundai Sans Head Office, sans-serif;
        font-size: 1.6rem;
        line-height: 2.4rem;
        color: #A5A5A5;
        border: 2px solid #E0E0E0;
        border-radius: 6px;
        width: 100%;
        padding: 2.4rem 3rem;
        min-height: 16.5rem;
        margin-bottom: 3rem;
        outline: none;
        resize: none;

        &::placeholder {
            color: #A5A5A5;
        }

        &:hover {
            border: 2px solid #BDBDBD;
        }

        &:focus {
            border: 2px solid #FFB069;
        }

        @media all and (max-width: 576px) {
            min-height: 22.7rem;
        }
    }

    &__button {
        font-family: Hyundai Sans Head Office, sans-serif;
        color: #FFFFFF;
        font-size: 1.6rem;
        line-height: 2.9rem;
        padding: 2rem 5rem;
        width: 100%;
        text-align: center;
        border-radius: 3px;
        background: linear-gradient(180deg, #FFB069 0%, #F2994A 100%);
        outline: none;
        border: none;
        margin-bottom: 2rem;

        &:hover,
        &:focus {
            background: linear-gradient(0deg, #676767, #676767), linear-gradient(180deg, #FFB069 0%, #F2994A 100%);
            background-blend-mode: overlay, normal;
        }
    }

    &__politic {
        color: #828282;
        font-size: 1.2rem;
        line-height: 1.6rem;

        &-link {
            color: #828282;
            text-decoration: underline;
        }
    }
}

