{% extends 'html5.html' %}

{% load static %}

{% block page_title %}Страница не найдена{% endblock %}

{% block html_body %}

  <div class="error">
    <div class="container">
      <span class="error__number">404</span>
      <p class="error__desc">Страница не найдена</p>
      <a href="{% url 'index' %}" class="error__button button">На главную</a>
    </div>
  </div>

 <div id="order" class="order order__wrapper">
    <div class="order__wrap">
      <b class="order__title">
        Оставьте ваш номер телефона, <span class="order__title--color">мы перезвоним</span>
      </b>
      <p class="order__desc">95% клиентов заказывают по телефону</p>
      <form class="order__form form--feedback" method="post" action="{% url 'ring_request' %}">
        {% csrf_token %}
        <input class="form__input-field sec-field" type="email" name="recovery">
        <input class="form__input-field sec-field" type="tel" name="info">
        <input class="form__input-field sec-field" type="text" name="text">
        <div class="order__form-wrap">
          <input class="order__form-text phone req-input form-input" name="phone" type="tel" placeholder="Номер телефона">
          <span class="order__error-text">Введен неверный номер телефона</span>
        </div>
        <input class="order__form-submit button" type="submit" value="Жду звонка" >
      </form>
      <p class="order__politic">
        Отправляя контакты, вы соглашаетесь
        с <a href="#politic" class="request__politic--link">политикой конфиденциальности</a>
      </p>
    </div>
  </div>

  <div id="send" class="send">
    <div class="send__wrapper">
      <div class="send-wrap">
        <img src="{% static 'assets/img/send/1.png' %}" alt="" class="send__img">
      </div>
      <b class="send__title">
        Ваша заявка успешно <span class="send__title--color">отправлена!</span>
      </b>
      <p class="send__desc">Наш менеджер свяжется с вами в течение 30 секунд.</p>
      <a href="{% url 'index' %}" class="send__link button">На главную</a>
    </div>
  </div>
{% endblock %}
