{% extends 'html5.html' %}

{% load static %}
{% load solo_tags %}
{% load phones %}

{% block html_body %}

{% get_solo 'main.Contacts' as contacts %}
{% get_solo 'main.Documents' as documents %}

{% block content %}{% endblock %}

<div class="about-footer-container">
  <div class="about">
    <div class="container">
      <a href="{% url 'index' %}" class="about__logo">
        <img src="{% static 'assets/img/about/1.svg' %}" alt="Logo">
      </a>
      <div class="about__wrapper">
        <div class="about__block">
          <span class="about__title">
            <a class="about__company-link" href="{% url 'moving' %}">Стоимость услуг</a>
          </span>
          <ul class="about__list">
            <li class="about__item">
              <a class="about__link" href="{% url 'moving' %}">Переезды</a>
            </li>
            <li class="about__item">
              <a class="about__link" href="{% url 'mover' %}">Услуги грузчиков</a>
            </li>
            <li class="about__item">
              <a class="about__link" href="{% url 'handymen' %}">Услуги разнорабочих</a>
            </li>
            <li class="about__item">
              <a class="about__link" href="{% url 'dismalting' %}">Демонтажные работы</a>
            </li>
            <li class="about__item">
              <a class="about__link" href="{% url 'shipping' %}">Автотранспорт и спецтехника</a>
            </li>
          </ul>
        </div>
        <div class="about__block">
          <span class="about__title">
            <a class="about__company-link" href="{% url 'company' %}">О компании</a>
          </span>
          <span class="about__company">
            <a class="about__company-link" href="{% url 'company' %}">Как мы работаем</a>
          </span>
          <span class="about__company">
            <a class="about__company-link" href="{% url 'vacancies' %}">Вакансии</a>
          </span>
          <span class="about__company">
            <a class="about__company-link" href="{% url 'contacts' %}">Контакты</a>
          </span>
          <a class="about__write-director" href="#write-director">Написать директору</a>

        </div>
        <div class="about__block">
          <span class="about__title about__title-load">Скачать</span>
          <ul class="about__load">
            {% if documents.contract_doc or documents.contract_pdf %}
            <li class="about__load-item">
              <img src="{% static 'assets/img/about/5.png' %}" alt="" class="about__load-img">
              <p class="about__desc">Договор</p>
              {% if documents.contract_doc %}
              <span class="about__format about__format--doc">
                <a class="about__format-link" href="{{ documents.contract_doc.url }}">doc.</a>
              </span>
              {% endif %}
              {% if documents.contract_pdf %}
              <span class="about__format about__format--pdf">
                <a class="about__format-link" href="{{ documents.contract_pdf.url }}">pdf.</a>
              </span>
              {% endif %}
            </li>
            {% endif %}
            {% if documents.act_doc or documents.act_pdf %}
            <li class="about__load-item">
              <img src="{% static 'assets/img/about/5.png' %}" alt="" class="about__load-img">
              <p class="about__desc">Акт</p>
              {% if documents.act_doc %}
              <span class="about__format about__format--doc">
                <a class="about__format-link" href="{{ documents.act_doc.url }}">doc.</a>
              </span>
              {% endif %}
              {% if documents.act_pdf %}
              <span class="about__format about__format--pdf">
                <a class="about__format-link" href="{{ documents.act_pdf.url }}">pdf.</a>
              </span>
              {% endif %}
            </li>
            {% endif %}
            {% if documents.details_doc or documents.detail_pdf %}
            <li class="about__load-item">
              <img src="{% static 'assets/img/about/5.png' %}" alt="" class="about__load-img">
              <p class="about__desc">Реквизиты</p>
              {% if documents.details_doc %}
              <span class="about__format about__format--doc">
                <a class="about__format-link" href="{{ documents.details_doc.url }}">doc.</a>
              </span>
              {% endif %}
              {% if documents.details_pdf %}
              <span class="about__format about__format--pdf">
                <a class="about__format-link" href="{{ documents.details_pdf.url }}">pdf.</a>
              </span>
              {% endif %}
            </li>
            {% endif %}
          </ul>
        </div>
        <div class="about__block about__block-info">
          <span class="about__email">
            <a class="about__email-link no-style-link" href="mailto:service@xn--b1abghfcl9beiep7c.xn--p1ai">
              service@грузчиксервис.рф
            </a>
          </span>
          <span class="about__phone">
            <a class="about__phone-link" href="tel:{{ contacts.phone }}">
              {{ contacts.phone|phoneformat }}
            </a>
            <a class="about__phone-link" href="tel:{{ contacts.phone2 }}">{{ contacts.phone2|phoneformat }}</a>
          </span>
          <span class="about__info">Режим работы</span>
          <p class="about__info-desc">
            Выполнение заказов: круглосуточно Прием заказов: с 8:00 до 20:00
          </p>
          <span class="about__info">Адрес</span>
          <p class="about__info-desc">
            {{ contacts.adress }}
          </p>
        </div>
      </div>
    </div>
  </div>

  <div id="request" class="request request__wrapper">
    <div class="request__wrap">
      <b class="request__title">
        Хотите, мы перезвоним Вам
        <span class="request__title--color">за 30 секунд?</span>
      </b>
      <p class="request__desc">
        Перезвоним в течение 30 секунд
        и ответим на все вопросы
      </p>
      <form class="request__form form--feedback" method="post" action="{% url 'ring_request' %}">
        {% csrf_token %}
        <input class="form__input-field sec-field" type="email" name="recovery">
        <input class="form__input-field sec-field" type="tel" name="info">
        <input class="form__input-field sec-field" type="text" name="text">
        <div class="request__form-wrap">
          <input class="request__form-text phone req-input form-input" type="tel" placeholder="Номер телефона" name="phone">
          <span class="request__error-text">Введен неверный номер телефона</span>
        </div>
        <input class="request__form-submit button" type="submit" value="Жду звонка" onclick="ym(56183038, 'reachGoal', 'order'); return true;">
      </form>
      <p class="request__politic">
        Отправляя контакты, вы соглашаетесь
        с <a href="#politic" class="request__politic--link">политикой конфиденциальности</a>
      </p>
      <!-- <span class="footer__item footer__item--second">2012–{{ current_year }}</span>
      <span class="footer__item">
        <a href="#politic" class="footer__link footer__link--politics">
          Политика конфиденциальности
        </a> -->
      </span>
    </div>
  </div>
</div>

<div id="request" class="request request__wrapper">
  <div class="request__wrap">
    <b class="request__title">
      Хотите, мы перезвоним Вам
      <span class="request__title--color">за 30 секунд?</span>
    </b>
    <p class="request__desc">
      Перезвоним в течение 30 секунд
      и ответим на все вопросы
    </p>
    <form class="request__form form--feedback" method="post" action="{% url 'ring_request' %}">
      {% csrf_token %}
      <input class="form__input-field sec-field" type="email" name="recovery">
      <input class="form__input-field sec-field" type="tel" name="info">
      <input class="form__input-field sec-field" type="text" name="text">
      <div class="request__form-wrap">
        <input class="request__form-text phone req-input form-input" type="tel" placeholder="Номер телефона"
          name="phone">
        <span class="request__error-text">Введен неверный номер телефона</span>
      </div>
      <input class="request__form-submit button" type="submit" value="Жду звонка"
        onclick="ym(56183038, 'reachGoal', 'order'); return true;">
    </form>
    <p class="request__politic">
      Отправляя контакты, вы соглашаетесь
      с <a href="#politic" class="request__politic--link">политикой конфиденциальности</a>
    </p>
  </div>
</div>

<div id="order" class="order order__wrapper">
  <div class="order__wrap">
    <b class="order__title">
      Оставьте ваш номер телефона, <span class="order__title--color">мы перезвоним</span>
    </b>
    <!-- <p class="order__desc">95% клиентов заказывают по телефону</p> -->
    <form class="order__form form--feedback" method="post" action="{% url 'ring_request' %}">
      {% csrf_token %}
      <input class="form__input-field sec-field" type="email" name="recovery">
      <input class="form__input-field sec-field" type="tel" name="info">
      <input class="form__input-field sec-field" type="text" name="text">
      <div class="order__form-wrap">
        <input class="order__form-text phone req-input form-input" name="phone" type="tel" placeholder="Номер телефона">
        <span class="order__error-text">Введен неверный номер телефона</span>
      </div>
      <input class="order__form-submit button" type="submit" value="Жду звонка"
        onclick="ym(56183038, 'reachGoal', 'fastorder'); return true;">
    </form>
    <p class="order__politic">
      Отправляя контакты, вы соглашаетесь
      с <a href="#politic" class="request__politic--link">политикой конфиденциальности</a>
    </p>
  </div>
</div>

<div id="send" class="send">
  <div class="send__wrapper">
    <div class="send-wrap">
      <img src="{% static 'assets/img/send/1.png' %}" alt="" class="send__img">
    </div>
    <b class="send__title">
      Ваша заявка успешно <span class="send__title--color">отправлена!</span>
    </b>
    <p class="send__desc">Наш менеджер свяжется с вами в течение 30 секунд.</p>
    <a href="{% url 'index' %}" class="send__link button">На главную</a>
    </b>
  </div>
</div>

<div id="send-2" class="send">
  <div class="send__wrapper">
    <div class="send-wrap">
      <img src="{% static 'assets/img/send/1.png' %}" alt="" class="send__img">
    </div>
    <b class="send__title">Письмо <span class="send__title--color">отправлено!</span></b>
    <p class="send__desc">Спасибо за проявленный интерес к компании Грузчиков-Сервис.</p>
    <a href="{% url 'index' %}" class="send__link button">На главную</a>
    </b>
  </div>
</div>

<div id="politic" class="politic politic__wrapper">

  <div class="politic__close">
    <button type="button" data-fancybox-close="" class="politic__close-btn" title="Close">
      <svg xmlns="http://www.w3.org/2000/svg" version="1" viewBox="0 0 24 24">
        <path d="M13 12l5-5-1-1-5 5-5-5-1 1 5 5-5 5 1 1 5-5 5 5 1-1z"></path>
      </svg>
    </button>
  </div>

  <div class="politic__content">
    <h3 class="politic__head">Политика конфиденциальности</h3>
    <p class="politic__desc">Настоящим в соответствии с Федеральным законом № 152-ФЗ «О персональных данных» от
      27.07.2006 года Вы подтверждаете свое согласие на обработку компанией ООО «НОРД» персональных
      данных: сбор, систематизацию, накопление, хранение, уточнение (обновление, изменение), использование,
      передачу исключительно в целях продажи программного обеспечения на Ваше имя, как это описано ниже,
      блокирование, обезличивание, уничтожение.</p>
    <p class="politic__desc">Компания ООО «НОРД» гарантирует конфиденциальность получаемой информации. Обработка
      персональных данных осуществляется в целях эффективного исполнения заказов, договоров и иных
      обязательств, принятых компанией ООО «НОРД» в качестве обязательных к исполнению.</p>
    <p class="politic__desc">В случае необходимости предоставления Ваших персональных данных правообладателю,
      дистрибьютору или реселлеру программного обеспечения в целях регистрации программного обеспечения на
      ваше имя, вы даёте согласие на передачу ваших персональных данных. Компания ООО «НОРД» гарантирует, что
      правообладатель, дистрибьютор или реселлер программного обеспечения осуществляет защиту персональных
      данных на условиях, аналогичных изложенным в Политике конфиденциальности персональных данных.</p>
    <p class="politic__desc">Настоящее согласие распространяется на следующие Ваши персональные данные: фамилия,
      имя и отчество, адрес электронной почты, почтовый адрес доставки заказов, контактный телефон, платёжные
      реквизиты.</p>
    <p class="politic__desc">Срок действия согласия является неограниченным. Вы можете в любой момент отозвать
      настоящее согласие, направив письменное уведомления на адрес: 603123, Нижний Новгород, б-р Южный, д.20, пом.П2,
      с пометкой «Отзыв согласия на обработку персональных данных».</p>
    <p class="politic__desc">Обращаем ваше внимание, что отзыв согласия на обработку персональных данных влечёт
      за собой удаление Вашей учётной записи с Интернет-сайта (http://грузчиксервис.рф), а также уничтожение
      записей, содержащих ваши персональные данные, в системах обработки персональных данных компании
      ООО «НОРД», что может сделать невозможным пользование интернет-сервисами компании ООО «НОРД».</p>
    <p class="politic__desc">Гарантирую, что представленная мной информация является полной, точной и
      достоверной, а также что при представлении информации не нарушаются действующее законодательство
      Российской Федерации, законные права и интересы третьих лиц. Вся представленная информация заполнена
      мною в отношении себя лично.</p>
    <p class="politic__desc">Настоящее согласие действует в течение всего периода хранения персональных данных,
      если иное не предусмотрено законодательством Российской Федерации.</p>
  </div>

</div>

<div id="write-director" class="write-director">
  <h2 class="write-director__title">Написать директору</h2>
  <p class="write-director__promise">Решим все сложности в кратчайшие сроки</p>
  <form class="form--feedback write-director__form" method="post" action="{% url 'director_mail_request' %}">
    {% csrf_token %}
    <input class="form__input-field sec-field" type="email" name="recovery">
    <input class="form__input-field sec-field" type="tel" name="info">
    <input class="form__input-field sec-field" type="text" name="text">
    <p class="write-director__field-wrap">
      <label class="write-director__label" for="name">Имя</label>
      <input class="write-director__field form-input" type="text" id="name" name="name" placeholder="Имя">
    </p>
    <p class="write-director__field-wrap">
      <label class="write-director__label" for="phone">Номер телефона</label>
      <input class="write-director__field phone req-input form-input" type="tel" id="phone" name="phone"
        placeholder="Номер телефона">
      <span class="write-director__error-text">Введен неверный номер телефона</span>
    </p>
    <p class="write-director__field-wrap">
      <label class="write-director__label" for="text">Ваше сообщение</label>
      <textarea class="write-director__field--text form-input" id="text" name="text"
        placeholder="Ваше сообщение"></textarea>
    </p>
    <button class="write-director__button" type="submit">Отправить</button>
  </form>
  <p class="write-director__politic">
    Отправляя контакты, вы соглашаетесь
    с <a href="#politic" class="write-director__politic-link">политикой конфиденциальности</a>
  </p>
</div>

{% block modals %}{% endblock %}
{% endblock %}
