{% extends 'base.html' %}

{% load static %}
{% load solo_tags %}
{% load phones %}

{% block meta %}
{% get_solo 'main.MetaTag' as metatag %}
<meta property="og:title" content="{{ metatag.ogtitle_company }}">
<meta property="og:description" content="{{ metatag.ogdescription_company }}" />
<meta property="og:type" content="{{ metatag.ogtype_company }}">
<meta property="og:url" content="{{ metatag.ogurl_company }}">
<meta property="og:site_name" content="{{metatag.ogsitename_company}}">
<meta name="description" content="{{ metatag.description_company }}">
<title>{{ metatag.ogtitle_company }}</title>
{% endblock %}

{% block content %}
  {% get_solo 'main.Documents' as documents %}
  {% get_solo 'main.Contacts' as contacts %}
  {% get_solo 'main.CompanyText' as companytext %}

  <div class="company__banner">
    <div class="container company__banner--container">
      <h1 class="company__banner__title">Рабочий персонал<br>от лидера рынка в России</h1>
      <span class="company__banner__cost">Создаем условия работы,  подходящие именно Вам</span>
      <div class="company__banner-wrap">
        <a href="{% url 'company' %}" class="company__banner-switch switch--active">Компаниям</a>
        <a href="{% url 'company-private' %}" class="company__banner-switch">Частным лицам</a>
      </div>
    </div>
  </div>

  <div class="time">
    <div class="container">
      <div class="time__block">
        <img class="time__img" src="{% static 'assets/img/time/1.svg' %}" alt="Принимаем заказы">
        <p class="time__desc">
          Принимаем заказы <span class="time__main">с 8:00 до 20:00</span>
        </p>
      </div>
      <div class="time__block">
        <img class="time__img" src="{% static 'assets/img/time/2.svg' %}" alt="Выполняем заказы">
        <p class="time__desc">
          Выполняем заказы <span class="time__main">круглосуточно</span>
        </p>
      </div>
      <div class="time__block">
        <img class="time__img" src="{% static 'assets/img/time/3.svg' %}" alt="Бухгалтерия работает">
        <p class="time__desc">
          Бухгалтерия работает <span class="time__main">с 9:00 до 17:00</span>
        </p>
      </div>
      <div class="time__block">
        <img class="time__img" src="{% static 'assets/img/time/4.svg' %}" alt="Консультация по стоимости">
        <p class="time__desc">
          Консультация
          <br>
          по стоимости и скидкам <span class="time__main">с 8:00 до 20:00</span>
        </p>
      </div>
    </div>
  </div>

  <div class="info info--gray-background">
      <div class="container">
        <h3 class="info__title">{{ companytext.title }}</h3>
        <p class="info__text">{{ companytext.text }}</p>
        </h3>
      </div>
    </div>

  <div class="payment payment--white-background">
    <div class="container">
      <h3 class="payment__title">Выбирайте удобный способ оплаты</h3>
      <div class="payment__wrapper">
        <div class="payment__block">
          <img class="payment__img" src="{% static 'assets/img/payment/1.png' %}" alt="">
          <p class="payment__desc">
            <span class="payment__main">Наличные</span>После выполнения работы
          </p>
        </div>
        <div class="payment__block">
          <img class="payment__img" src="{% static 'assets/img/payment/2.png' %}" alt="">
          <p class="payment__desc">
            <span class="payment__main">Онлайн оплата</span>Переводом на карту физ.лица
          </p>
        </div>
        <div class="payment__block">
          <img class="payment__img" src="{% static 'assets/img/payment/3.png' %}" alt="">
          <p class="payment__desc">
            <span class="payment__main">Безналичный расчет</span>Полный комплект документов
          </p>
        </div>
        <div class="payment__block">
          <img class="payment__img" src="{% static 'assets/img/payment/4.png' %}" alt="">
          <p class="payment__desc">
            <span class="payment__main">Терминал оплаты</span>Оплата картой через терминал в офисе
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="docs">
      <div class="container">
        <h3 class="docs__title">Документы и нормативные акты</h3>
  
        <div class="docs__wrapper">
          {% if documents.contract_doc %}
            <div class="docs__block">
              <b class="docs__head">Договор на оказание услуг</b>
              <p class="docs__desc">
                Условия сотрудничества между клиентом и Грузчик-Service. Благодаря
                наработанному опыту с 2012 года, наши договора - сбалансированные, отвечающие интересам как
                заказчика, так и исполнителя. В нашей компании имеется штат опытных юристов, если клиенту нужна
                консультация по тем или иным пунктам договора.
              </p>
              <div class="docs__block-wrap">
                <img src="{% static 'assets/img/header/6.svg' %}" alt="Doc" class="docs__img">
                <a href="{{ documents.contract_doc.url }}" class="docs__load">Скачать договор заявки</a>
              </div>
            </div>
          {% endif %}
          {% if documents.act_doc %}
            <div class="docs__block">
              <b class="docs__head">Акт учета оказанных услуг</b>
              <p class="docs__desc">
                В акте клиент фиксирует фактический объем оказанных услуг. Клиент передает акт
                (оригиналы) непосредственным исполнителям заявки. Форма акта - важный документ, который может
                понадобиться в дальнейшем для уточнения деталей оказанной услуги.
              </p>
              <div class="docs__block-wrap">
                <img src="{% static 'assets/img/header/6.svg' %}" alt="Doc" class="docs__img">
                <a href="{{ documents.act_doc.url }}" class="docs__load">Скачать акт</a>
              </div>
            </div>
          {% endif %}
        </div>
      </div>
    </div>

<div class="quality">
    <div class="container">
      <h3 class="quality__title">100% гарантия качества услуг <br> и высочайший сервис от лидера рынка в России</h3>
      <div class="quality__wrapper">
        <div class="quality__block">
          <img class="quality__img" src="{% static 'assets/img/quality/1.svg' %}" alt="Заказ">
          <p class="quality__desc">
            Заключаем <span class="quality__main">договор</span>
          </p>
        </div>
        <div class="quality__block">
          <img class="quality__img" src="{% static 'assets/img/quality/2.svg' %}" alt="Приезд рабочих">
          <p class="quality__desc">
              Выставляем счет <br> и <span class="quality__main">производите оплату</span>
          </p>
        </div>
        <div class="quality__block">
          <img class="quality__img" src="{% static 'assets/img/quality/3.svg' %}" alt="Выполнение работы">
          <p class="quality__desc">
            Рабочие приезжают в указанное <br> время и 
            <span class="quality__main">выполняют работу</span>
          </p>
        </div>
        <div class="quality__block">
          <img class="quality__img" src="{% static 'assets/img/quality/4.svg' %}" alt="Оплата">
          <p class="quality__desc">
            Получаете <span class="quality__main">пакет документов </span><br> для бухгалтерии
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="gratitude">
    <div class="container">
      <h3 class="gratitude__title">Благодарности от известных клиентов</h3>
      <div class="gratitude__wrapper">
        {% for client in clients %}
          <div class="gratitude__block">
            <img class="gratitude__img" src="{{ client.logo.url }}" alt="{{ client.name }}">
          </div>
        {% endfor %}
      </div>

      

      <div class="gratitude__slider">
        {% for thank_letter in thank_letters %}
        <div class="gratitude__slider-block">
          <a data-fancybox="gallery" href="{{ thank_letter.scan.url }}">
            <img class="gratitude__slider-img" src="{{ thank_letter.scan.url }}" alt="{{ thank_letter.name }}">
          </a>
        </div>
        {% endfor %}         
      </div>
    </div>
  </div>

  <div class="comment">
    <div class="container">
      <h3 class="comment__title">Отзывы</h3>
      <div class="comment__wrapper">
        {% for review in reviews %}
          <div class="comment__block">
            <b class="comment__head">{{ review.author }}</b>
            <span class="comment__desc">{{ review.phone }}</span>
            <span class="comment__desc">{{ review.city }}</span>
            <p class="comment__text">{{ review.text }}</p>
            {% if review.rating == 5 %}
              <img class="comment__img" src="{% static 'assets/img/comment/1.png' %}" alt="Rating">
            {% elif review.rating == 4 %}
              <img class="comment__img" src="{% static 'assets/img/comment/2.png' %}" alt="Rating">
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="consultation">
    <div class="container">
      <div class="consultation__block">
        <h5 class="consultation__title">
          Получите бесплатную консультацию
          <span class="consultation__title--bold">за 30 секунд</span>
        </h5>
        <p class="consultation__desc">
          Позвоните нам
          <span class="consultation__desc--bold">прямо сейчас<br></span>
          и узнайте все интересующие вас подробности.
        </p>
        <span class="consultation__phone">
          <a class="no-style-link" href="tel:{{ contacts.phone }}">{{ contacts.phone|phoneformat }}</a>
        </span>
        <span class="consultation__time">с 8:00 до 20:00, ежедневно</span>
        <a href="#request" class="consultation__link button">Заказать звонок</a>
      </div>
    </div>
  </div>

  <div class="question">
    <div class="container">
      <h3 class="question__title">Часто задаваемые вопросы</h3>

      {% for faq in faq_list %}
        <div class="question__block">
          <b class="question__head question__head--active">{{ faq.question }}</b>
          <div class="question__desc">
            {{ faq.answer|safe }}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

{% endblock %}
