{% extends 'base.html' %}

{% load static %}
{% load solo_tags %}
{% load phones %}

{% block meta %}
{% get_solo 'main.MetaTag' as metatag %}
<meta property="og:title" content="{{ metatag.ogtitle_cont }}">
<meta property="og:description" content="{{ metatag.ogdescription_cont }}" />
<meta property="og:type" content="{{ metatag.ogtype_cont }}">
<meta property="og:url" content="{{ metatag.ogurl_cont }}">
<meta property="og:site_name" content="{{metatag.ogsitename_cont}}">
<meta name="description" content="{{ metatag.description_cont }}">
<title>{{ metatag.ogtitle_cont }}</title>
{% endblock %}


{% block content %}
{% get_solo 'main.Contacts' as contacts %}
{% get_solo 'main.Documents' as documents %}
{% get_solo 'main.CompanyData' as companydata %}

<div class="call">
  <div class="container">
    <div class="call__block" itemscope itemtype="http://schema.org/Organization">
      <h5 class="call__title">
        Получите бесплатную <span class="call__title--bold">консультацию</span>
      </h5>
      <p class="call__desc">
        <span class="call__desc--bold">Круглосуточно</span> выполняем заказы
      </p>
      <p class="call__desc">
        <span class="call__desc--bold">с 9:00 до 20:00</span> — прием заказов
      </p>
      <span class="call__email">
        <span class="no-style-link" href="mailto:service@xn--b1abghfcl9beiep7c.xn--p1ai">
          <span itemprop="email">service@грузчиксервис.рф</span>
          </a>
        </span>
        <span class="call__phone">
          <a class="no-style-link" href="tel:{{ contacts.phone }}">
            <span itemprop="telephone">
              {{ contacts.phone|phoneformat }}
            </span>
          </a>
        </span>
        <span class="call__time">с 9:00 до 20:00, ежедневно</span>
        <a href="#request" class="call__link button">Заказать звонок</a>
    </div>
  </div>
</div>

<div class="partner">
  <div class="container">
    <div class="partner__wrap">
      <h5 class="partner__title">Надежный поставщик и партнер</h5>
      <p class="partner__desc">С 2012 года работаем с госзаказами и тендерами</p>
    </div>
    <div class="partner__list">
      {% for partner in partners %}
      <div class="partner__block">
        <img class="partner__img" src="{{ partner.logo.url }}" alt="{{ partner.name }}">
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<div class="office">
  <div class="container">
    <div class="office__wrap">
      <h5 class="office__title">Офис в Нижнем Новгороде</h5>
      <p class="office__desc">{{ contacts.adress }}</p>
    </div>
    <div class="office__wrapper">
      <div class="office__photo">
        <img class="office__img office__img--first" src="{% static 'assets/img/office/1.png' %}" alt="Photo">
        <img class="office__img office__img--second" src="{% static 'assets/img/office/2.png' %}" alt="Photo">
        <img class="office__img office__img--third" src="{% static 'assets/img/office/3.png' %}" alt="Photo">
        <img class="office__img office__img--four" src="{% static 'assets/img/office/4.png' %}" alt="Photo">
      </div>

      <div class="office__map" id="map" data-marker="{% static 'assets/img/office/5.svg'%}">
      </div>
    </div>
    <div class="requisites" itemscope itemtype="http://schema.org/Organization">
      <ul class="requisites__list">
        <li class="requisites__item">
          <span class="requisites__title">ИНН</span>
          {{ companydata.inn }}
        </li>
        <li class="requisites__item">
          <span class="requisites__title">КПП</span>
          {{ companydata.kpp }}
        </li>
        <li class="requisites__item">
          <span class="requisites__title">ОГРН</span>
          {{ companydata.orgn }}
        </li>
        <li class="requisites__item">
          <span class="requisites__title">Банк</span>
          {{ companydata.bank }}
        </li>
        <li class="requisites__item">
          <span class="requisites__title">БИК</span>
          {{ companydata.bik }}
        </li>
        <li class="requisites__item">
          <span class="requisites__title">Кор/счёт</span>
          {{ companydata.cor }}
        </li>
        <li class="requisites__item">
          <span class="requisites__title">р/с</span>
          {{ companydata.rs }}
        </li>
      </ul>
      <div class="requisites__legal-adress" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
        <span class="requisites__adress-title">Фактический адрес</span>
        <p class="requisites__adress-desc"><span itemprop="postalCode">603123</span>,<span itemprop="addressLocality">
            Нижний Новгород</span>,<span itemprop="streetAddress"> б-р Южный, д.20, пом.П2</span></p>
        <span class="requisites__adress-title">Юр. адрес</span>
        <p class="requisites__adress-desc">{{ companydata.adress }}</p>
      </div>
      {% if documents.details_pdf %}
      <a class="requisites__load" download href="{{ documents.details_pdf.url }}">Скачать реквизиты</a>
      {% elif documents.details_doc %}
      <a class="requisites__load" download href="{{ documents.details_doc.url }}">Скачать реквизиты</a>
      {% endif %}
    </div>
  </div>
</div>


{% endblock %}

{% block scripts %}
<script rel="preconnect" src="https://api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
{% endblock %}