{% extends 'base.html' %}

{% load static %}
{% load solo_tags %}
{% load phones %}


{% block meta %}
{% get_solo 'main.MetaTag' as metatag %}
<meta property="og:title" content="{{ metatag.ogtitle_dismalting }}">
<meta property="og:description" content="{{ metatag.ogdescription_dismalting }}" />
<meta property="og:type" content="{{ metatag.ogtype_dismalting }}">
<meta property="og:url" content="{{ metatag.ogurl_dismalting }}">
<meta property="og:site_name" content="{{metatag.ogsitename_dismalting}}">
<meta name="description" content="{{ metatag.description_dismalting }}">
<title>{{ metatag.ogtitle_dismalting }}</title>
{% endblock %}

{% block content %}
{% get_solo 'main.Contacts' as contacts %}
{% get_solo 'main.ServicesDescription' as description %}

<div class="container">
  <div class="price">
    <div class="breadcrumps">
      <a href="{% url 'index' %}" class="breadcrumps__point">Главная /</a>
      <a href="{% url 'dismalting' %}" class="breadcrumps__point">Демонтажные работы</a>
    </div>
    <h1 class="price__title">Демонтажные работы в Нижнем Новгороде</h1>
    <div class="price__wrapper">
      <div class="price__available">
        <div class="price__available-elem">
          <a class="price__item price__item" data-tab="price-tab-0" href="{% url 'moving' %}">
            Переезды
          </a>

          <div class="price__table">
          </div>
        </div>

        <div class="price__available-elem">
          <a href="{% url 'mover' %}" class="price__item price__item" data-tab="price-tab-1">
            Услуги грузчиков
          </a>

          <div class="price__table">

          </div>
        </div>

        <div class="price__available-elem">
          <a href="{% url 'handymen' %}" class="price__item" data-tab="price-tab-3">
            Услуги разнорабочих
          </a>

          <div class="price__table">
          </div>
        </div>

        <div class="price__available-elem">
          <a href="{% url 'dismalting' %}" class="price__item price__item--active" data-tab="price-tab-4">
            Демонтажные работы
          </a>
          <div class="price__note">
            <p class="price__note-desc">Цены указаны в рублях за час</p>
          </div>
          <div class="price__table">
            <div class="price__note">
              <p class="price__note-desc price__note-desc--min">* Минимальный заказ от 4х часов</p>
            </div>
            <div class="price__catalog">
              <div class="price__service">
                <p>Демонтаж построек и сооружений (кирпич, блок)</p>
              </div>
              <div class="price__service-cost">
                <div class="price__wrap">
                  <div class="price__header-item price__header-item--val">Цена</div>
                  <div class="price__value">от 349 р/ч</div>
                </div>
              </div>
            </div>

            <div class="price__catalog">
              <div class="price__service">
                <p>Демонтаж построек и сооружений (доска, брус, бревно)</p>
              </div>
              <div class="price__service-cost">
                <div class="price__wrap">
                  <div class="price__header-item price__header-item--val">Цена</div>
                  <div class="price__value">от 399 р/ч</div>
                </div>
              </div>
            </div>

            <div class="price__catalog">
              <div class="price__service">
                <p>Демонтаж построек и сооружений (металлоконструкции)</p>
              </div>
              <div class="price__service-cost">
                <div class="price__wrap">
                  <div class="price__header-item price__header-item--val">Цена</div>
                  <div class="price__value">от 499 р/ч</div>
                </div>
              </div>
            </div>
            <div class="price__note">
              <p class="price__note-desc price__note-desc--services">Цены указаны в рублях за час</p>
            </div>
          </div>
        </div>

        <div class="price__available-elem">
          <a href = "{% url 'shipping' %}" class="price__item" data-tab="price-tab-2">
            Автотранспорт и экспедиция грузов
          </a>
          <div class="price__table">
          </div>
        </div>
      </div>

      <div class="price__table price__table--active" id="price-tab-4">
        <div class="price__header">
          <div class="price__header-item price__header-item--service">Демонтаж</div>
          <div class="price__header-item price__header-item--val">Цена</div>
        </div>
        <div class="price__note">
          <p class="price__note-desc price__note-desc--min">* Минимальный заказ от 4х часов</p>
        </div>
        <div class="price__catalog">
          <div class="price__service">Демонтаж построек и сооружений (кирпич, блок)</div>
          <div class="price__value">от 349 р/ч</div>
        </div>
        <div class="price__catalog">
          <div class="price__service">Демонтаж построек и сооружений (доска, брус, бревно)</div>
          <div class="price__value">от 399 р/ч</div>
        </div>
        <div class="price__catalog price__catalog--last">
          <div class="price__service">Демонтаж построек и сооружений (металлоконструкции)</div>
          <div class="price__value">от 499 р/ч</div>
        </div>
        <div class="price__note">
          <p class="price__note-desc">Цены указаны в рублях за час</p>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="accuracy">
  <div class="container">
    <div class="accuracy__block">
      <h5 class="accuracy__title">
        Узнайте точную стоимость <span class="accuracy__title--bold">по телефону</span>
      </h5>
      <p class="accuracy__desc">
        <span class="accuracy__desc--bold">95% клиентов</span> заказывают по телефону
      </p>
      <span class="accuracy__phone">{{ contacts.phone|phoneformat }}</span>
      <span class="accuracy__time">с 8:00 до 20:00, ежедневно</span>
      <a href="#request" class="accuracy__link button">Заказать звонок</a>
    </div>
  </div>
</div>

<div class="info">
  <div class="container">
    <div class="info__elem info__elem--active" data-number="price-tab-4">
      <h3 class="info__title">{{ description.title_dismantl }}</h3>
      <p class="info__text">{{ description.text_dismantl }}</p>
    </div>
  </div>
</div>

<div class="performers">
  <div class="container">
    <h3 class="performers__title">Проверенные на 100% исполнители</h3>
    <ul class="performers__list">
      <li class="performers__item">Особые условия постоянным клиентам</li>
      <li class="performers__item">Удобная форма оплаты</li>
      <li class="performers__item">Все рабочие — Граждане РФ</li>
      <li class="performers__item">Более 100 ответственных рабочих</li>
      <li class="performers__item">Работаем с 2008 года</li>
      <li class="performers__item">Низкие цены</li>
      <li class="performers__item">Опытный персонал</li>
      <li class="performers__item">Собственный автопарк</li>
    </ul>

    <div class="performers__wrapper">
      {% for performer in performers %}
      <div class="performers__block">
        <img class="performers__img-person" src="{{ performer.photo.url }}" alt="{{ performer.name }}">
        <b class="performers__name">{{ performer.name }}</b>
        <span class="performers__desc">{{ performer.subtitle }}</span>
        <div class="performers__rating">
          <img class="performers__img-star" src="{% static 'assets/img/performers/5.png' %}" alt="Star">
          <span class="performers__num">{{ performer.rating }}</span>
          <span class="performers__sum">{{ performer.rating_number }} оценок</span>
        </div>
      </div>
      {% endfor %}
    </div>

  </div>
</div>
{% endblock %}