{% load static %}
{% load solo_tags %}
{% load phones %}

{% get_solo 'main.Contacts' as contacts %}
{% get_solo 'main.Documents' as documents %}

<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <meta name="format-detection" content="telephone=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="yandex-verification" content="936adc6b9bb5562f" />
  <meta name="google-site-verification" content="H6OjXgQyCZVswkSMypIq7LK6-kp1iJKVKUT9XQXtKrg" />
  <link rel="shortcut icon" type="image/png" href="{% static 'assets/img/favicon.png' %}" />
  <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">
  <meta name='wmail-verification' content='ab1536f7f5f5cfda95f1b2940fd69bd9' />
  <meta name="msvalidate.01" content="FB42F22C82215985CF4289E8B1FF1C66" />
  {% block meta %}

 {% endblock %}
</head>

<body>


  <div class="header">
    <div class="container container--header">
      <a href="{% url 'index' %}" class="header__logo">
        <img class="header__logo-img" src="{% static 'assets/img/header/logo.svg' %}" alt="Logo">
      </a>
      <button class="header__burger">
        <img src="{% static 'assets/img/header/7.png' %}" alt="Menu">
      </button>
      <div class="header__nav-close"></div>
      <div class="header__wrapper">
        <ul class="header__nav">
          {% for item in main_menu.items %}
          <li class="header__nav-item{% if item.active %} header__nav-item--active{% endif %}">
            <a href="{{ item.url }}" class="header__nav-link">{{ item.label }}</a>
          </li>
          {% endfor %}
        </ul>
        <div class="header__contact">
          <p class="header__time">Прием заказов с 8:00 до 20:00</p>
          <span class="header__phone">
            <a target="_blank" class="header__phone-link no-style-link" href="tel:{{ contacts.phone }}">
              {{ contacts.phone|phoneformat }}
            </a>
          </span>
        </div>
        <a href="#order" class="header__order button">Быстрый заказ</a>
        <div class="header__button-wrapper">
          <a target="_blank" href="https://wa.me/79200448448" class="header__button--whatsup"><span
              class="header__button-text">Whatsapp</span></a>
          <a target="_blank" href="https://viber.me/+79200448448" class="header__button--viber"><span
              class="header__button-text">Viber</span></a>
        </div>
      </div>
    </div>
  </div>

  {% block html_body %}{% endblock %}

  <script async src="{% static 'assets/js/scripts.js' %}"></script>
  {% block scripts %}{% endblock %}

</body>

<!-- Yandex.Metrika counter -->

<script type="text/javascript">
  (function (m, e, t, r, i, k, a) {
    m[i] = m[i] || function () {
      (m[i].a = m[i].a || []).push(arguments)
    };

    m[i].l = 1 * new Date();
    k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
  })

  (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

  ym(56183038, "init", {

    clickmap: true,

    trackLinks: true,

    accurateTrackBounce: true,

    webvisor: true

  });
</script>

<noscript>
  <div><img src="https://mc.yandex.ru/watch/56183038" style="position:absolute; left:-9999px;" alt="" /></div>
</noscript>

<!-- /Yandex.Metrika counter -->
<!-- Global site tag (gtag.js) - Google Analytics -->

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-152003890-1"></script>

<script>
  window.dataLayer = window.dataLayer || [];

  function gtag() {
    dataLayer.push(arguments);
  }

  gtag('js', new Date());

  gtag('config', 'UA-152003890-1');
</script>

</html>