{% extends 'base.html' %}

{% load static %}
{% load solo_tags %}
{% load phones %}

{% block page_title %}Грузчик Service{% endblock %}
{% block meta %}
{% get_solo 'main.MetaTag' as metatag %}
<meta property="og:title" content="{{ metatag.ogtitle_ind }}">
<meta property="og:description" content="{{ metatag.ogdescription_ind }}" />
<meta property="og:type" content="{{ metatag.ogtype_ind }}">
<meta property="og:url" content="{{ metatag.ogurl_ind }}">
<meta property="og:site_name" content="{{ metatag.ogsitename_ind }}">
<meta name="description" content="{{ metatag.description_ind }}">
<title>{{ metatag.ogdescription_ind }}</title>
{% endblock %}

{% block content %}
  {% get_solo 'main.Contacts' as contacts %}

  <div class="banner">
    <div class="container banner--container">
      <div class="banner__right-side">
        <h1 class="banner__title">Грузчики и услуги рабочих в Нижнем Новгороде</h1>
        <span class="banner__cost">от 119 руб/час</span>
        <a href="#request" class="banner__request button">Оставить заявку</a>
      </div>
      <div class="banner__left-side">
        <p class="banner__offer">Погрузим и доставим от 1590 рублей</p>
        <ul class="banner__feature-list">
          <li class="banner__feature-item">быстро</li>
          <li class="banner__feature-item">бережно</li>
          <li class="banner__feature-item">надежно</li>
          <li class="banner__feature-item">с уважением к вашему имуществу</li>
        </ul>
      </div>
    </div>
    
  </div>

  <div class="services">
    <div class="container">

      <a class="services__main-link" href="{% url 'moving' %}">
        <div class="services__item">
          <img class="services__img" src="static/assets/img/services/1.png" alt="">
          <p class="services__option">Переезды</p>
          <p class="services__cost">
            от <span class="services__price">1590</span> руб
          </p>
        </div>
      </a>
      
      <a class="services__main-link" href="{% url 'mover' %}">      
        <div class="services__item">
          <img class="services__img" src="static/assets/img/services/2.png" alt="">
          <p class="services__option">Услуги грузчиков</p>
          <p class="services__cost">
            от <span class="services__price">129</span> руб/час
          </p>
        </div>
      </a>
      
      <a class="services__main-link" href="{% url 'handymen' %}"> 
        <div class="services__item">
          <img class="services__img" src="static/assets/img/services/3.png" alt="">
          <p class="services__option">Услуги разнорабочих</p>
          <p class="services__cost">
            от <span class="services__price">119</span> руб/час
          </p>
        </div>
      </a>

      <a class="services__main-link" href="{% url 'dismalting' %}"> 
        <div class="services__item">
          <img class="services__img" src="static/assets/img/services/4.png" alt="">
          <p class="services__option">Демонтажные работы</p>
          <p class="services__cost">
            от <span class="services__price">349</span> руб/час
          </p>
        </div>
      </a>

      <a class="services__main-link" href="{% url 'shipping' %}"> 
        <div class="services__item">
          <img class="services__img" src="static/assets/img/services/5.png" alt="">
          <p class="services__option">Автотранспорт <br> и спецтехника</p>
          <p class="services__cost">
            от <span class="services__price">399</span> руб/час
          </p>
        </div>
      </a>

          
    </div>
    <a href="{% url 'moving' %}" class="services__link button">Смотреть все цены</a>
  </div>

  <div class="why">
    <div class="container">
      <h3 class="why__title">Почему клиенты выбирают нас?</h3>
      <ul class="why__list why__list-first">
        <li class="why__item">
          <img class="why__img" src="{% static 'assets/img/why/1.png' %}" alt="Check">
          Особые условия постоянным клиентам
        </li>
        <li class="why__item">
          <img class="why__img" src="{% static 'assets/img/why/1.png' %}" alt="Check">
          Удобная форма оплаты
        </li>
        <li class="why__item">
          <img class="why__img" src="{% static 'assets/img/why/1.png' %}" alt="Check">
          Все рабочие — Граждане РФ
        </li>
        <li class="why__item">
          <img class="why__img" src="{% static 'assets/img/why/1.png' %}" alt="Check">
          Более 100 ответственных рабочих
        </li>
      </ul>
      <ul class="why__list why__list-second">
        <li class="why__item">
          <img class="why__img" src="{% static 'assets/img/why/1.png' %}" alt="Check">
          Работаем с 2012 года
        </li>
        <li class="why__item">
          <img class="why__img" src="{% static 'assets/img/why/1.png' %}" alt="Check">
          Низкие цены
        </li>
        <li class="why__item">
          <img class="why__img" src="{% static 'assets/img/why/1.png' %}" alt="Check">
          Опытный персонал
        </li>
        <li class="why__item">
          <img class="why__img" src="{% static 'assets/img/why/1.png' %}" alt="Check">
          Собственный автопарк
        </li>
      </ul>
    </div>
  </div>

  <div class="advantages">
    <div class="container">
      <div class="advantages__block">
        <img class="advantages__img" src="{% static 'assets/img/advantages/1.png' %}" alt="">
        <p class="advantages__desc">
          <span class="advantages__main">Удобное </span> расположение
        </p>
      </div>
      <div class="advantages__block">
        <img class="advantages__img" src="{% static 'assets/img/advantages/2.png' %}" alt="">
        <p class="advantages__desc">
          <span class="advantages__main">Наличная и безналичная</span> оплата
        </p>
      </div>
      <div class="advantages__block">
        <img class="advantages__img" src="{% static 'assets/img/advantages/3.png' %}" alt="">
        <p class="advantages__desc">
          <span class="advantages__main">Отсрочка платежа</span>  до 45 дней
        </p>
      </div>
      <div class="advantages__block">
        <img class="advantages__img" src="{% static 'assets/img/advantages/4.png' %}" alt="">
        <p class="advantages__desc">
        <span class="advantages__main">Круглосуточное </span> обслуживание
        </p>
      </div>
    </div>
  </div>
  <div class="info info--gray-background">
      <div class="container">
          <h3 class="info__title">Уважаемые клиенты и партнеры!</h3>
          <p class="consultation__block-paragraf" style="font-size:1.8rem; font-family: Hyundai Sans Head Office,sans-serif;">
               Наверное, каждый из Вас хоть однажды переживал такие события, как переезд, ремонт, покупка мебели, доставка крупногабаритных грузов и знает, насколько они могут быть беспокойными и трудоемкими: порой лишают Вас покоя и сна, вызывая головную боль. События, конечной целью которых является улучшение условий нашей жизни, в действительности, могут негативно отразиться на здоровье и самочувствии.
              <br><br>
              Для того, чтобы помочь Вам справиться с трудностями переезда и транспортировки груза, ремонта, демонтажа и прочих подсобных работ, создана наша компания «ГрузчикСервис». У нас работают только надежные, проверенные, компетентные специалисты. Они доставят Ваш груз к месту назначения бережно, аккуратно и своевременно. А при необходимости выполнят подсобные работы, упаковку товара, земляные работы, ландшафтные работы, уборку снега, демонтажные работы, вывоз мусора, погрузочно-разгрузочные работы.
              <br><br>
              Обращайтесь в компанию «ГрузчикСервис» сделайте перемены в Вашей жизни радостными и приятными. До встречи!
          </p>
        </h3>
      </div>
    </div>
  <div class="consultation">
    <div class="container">
      <div class="consultation__block">
        <h5 class="consultation__title">
          Получите бесплатную консультацию <span class="consultation__title--bold">за 30 секунд</span>
        </h5>
        <p class="consultation__desc">
          Позвоните нам
          <span class="consultation__desc--bold">прямо сейчас<br></span>
          и узнайте все интересующие вас подробности.
        </p>
        <span class="consultation__phone">
        <a class="no-style-link" href="tel:{{ contacts.phone }}">
          {{ contacts.phone|phoneformat }}
        </a>
      </span>
        <span class="consultation__time">
        с 8:00 до 20:00, ежедневно
      </span>
        <a href="#request" class="consultation__link button">Заказать звонок</a>
      </div>
    </div>
  </div>

{% endblock %}
