{% extends 'base.html' %}

{% load static %}
{% load solo_tags %}
{% load phones %}

{% block page_title %}Переезды{% endblock %}

{% block meta %}
{% get_solo 'main.MetaTag' as metatag %}
<meta property="og:title" content="{{ metatag.ogtitle_per }}">
<meta property="og:description" content="{{ metatag.ogdescription_per }}" />
<meta property="og:type" content="{{ metatag.ogtype_per }}">
<meta property="og:url" content="{{ metatag.ogurl_per }}">
<meta property="og:site_name" content="{{ metatag.ogsitename_per }}">
<meta name="description" content="{{ metatag.description_per }}">
<title>{{ metatag.ogdescription_per }}</title>
{% endblock %}

{% block content %}
{% get_solo 'main.Contacts' as contacts %}
{% get_solo 'main.ServicesDescription' as description %}


<div class="container">

  <div class="price">
    <div class="breadcrumps">
      <a href="{% url 'index' %}" class="breadcrumps__point">Главная /</a>
      <a href="{% url 'moving' %}" class="breadcrumps__point">Переезды</a>
    </div>
    <h1 class="price__title">Переезды в Нижнем Новгороде</h1>
    <div class="price__wrapper">
      <div class="price__available">
        <div class="price__available-elem">
          <a href="{% url 'moving' %}" class="price__item price__item--active" data-tab="price-tab-0">
            Переезды
          </a>
          <div class="price__note">
            <p class="price__note-desc">Цены указаны в рублях за час</p>
          </div>
          <div class="price__table">
            <div class="price__catalog">
              <div class="price__service">
                <p>Квартирный переезд</p>
              </div>
              <div class="price__service-cost">
                <div class="price__wrap">
                  <div class="price__header-item price__header-item--val">Цена</div>
                  <div class="price__value">от 1590 руб</div>
                </div>
              </div>
            </div>
            <div class="price__catalog">
              <div class="price__service">
                <p>Офисный переезд</p>
              </div>
              <div class="price__service-cost">
                <div class="price__wrap">
                  <div class="price__header-item price__header-item--val">Цена</div>
                  <div class="price__value">от 1890 руб</div>
                </div>
              </div>
            </div>
            <div class="price__catalog">
              <div class="price__service">
                <p>Дачный переезд</p>
              </div>
              <div class="price__service-cost">
                <div class="price__wrap">
                  <div class="price__header-item price__header-item--val">Цена</div>
                  <div class="price__value">от 1590 руб</div>
                </div>
              </div>
            </div>
            <div class="price__note">
              <p class="price__note-desc price__note-desc--services">Цены указаны в рублях за час</p>
            </div>
          </div>
        </div>

        <div class="price__available-elem">
          <a href="{% url 'mover' %}" class="price__item" data-tab="price-tab-1">
            Услуги грузчиков
          </a>
          <div class="price__table">

          </div>
        </div>

        <div class="price__available-elem">
          <a href="{% url 'handymen' %}" class="price__item" data-tab="price-tab-3">
            Услуги разнорабочих
          </a>

          <div class="price__table">
          </div>
        </div>

        <div class="price__available-elem">
          <a href="{% url 'dismalting' %}" class="price__item" data-tab="price-tab-4">
            Демонтажные работы
          </a>

          <div class="price__table">

          </div>
        </div>

        <div class="price__available-elem">
          <a href="{% url 'shipping' %}" class="price__item" data-tab="price-tab-2">
            Автотранспорт и экспедиция грузов
          </a>
          <div class="price__table">
          </div>
        </div>
      </div>


      <div class="price__table price__table--active" id="price-tab-0">
        <div class="price__header">
          <div class="price__header-item price__header-item--service">Переезды</div>
          <div class="price__header-item price__header-item--val">Цена</div>
        </div>
        <div class="price__catalog">
          <div class="price__service">Квартирный переезд</div>
          <div class="price__value">от 1590 руб</div>
        </div>
        <div class="price__catalog">
          <div class="price__service">Офисный переезд</div>
          <div class="price__value">от 1890 руб</div>
        </div>
        <div class="price__catalog price__catalog--last">
          <div class="price__service">Дачный переезд</div>
          <div class="price__value">от 1590 руб</div>
        </div>
        <!-- <div class="price__note">
              <p class="price__note-desc">Цены указаны в рублях за час</p>
            </div> -->
      </div>

    </div>
  </div>
</div>

<div class="accuracy">
  <div class="container">
    <div class="accuracy__block">
      <h5 class="accuracy__title">
        Узнайте точную стоимость <span class="accuracy__title--bold">по телефону</span>
      </h5>
      <p class="accuracy__desc">
        <span class="accuracy__desc--bold">95% клиентов</span> заказывают по телефону
      </p>
      <span class="accuracy__phone">{{ contacts.phone|phoneformat }}</span>
      <span class="accuracy__time">с 9:00 до 20:00, ежедневно</span>
      <a href="#request" class="accuracy__link button">Заказать звонок</a>
    </div>
  </div>
</div>

<div class="info">
  <div class="container">
    <div class="info__elem info__elem--active" data-number="price-tab-0">
      <h3 class="info__title">{{ description.title_move }}</h3>
      <p class="info__text">{{ description.text_move }}</p>
    </div>
  </div>
</div>

<div class="performers">
  <div class="container">
    <h3 class="performers__title">Проверенные на 100% исполнители</h3>
    <ul class="performers__list">
      <li class="performers__item">Особые условия постоянным клиентам</li>
      <li class="performers__item">Удобная форма оплаты</li>
      <li class="performers__item">Все рабочие — Граждане РФ</li>
      <li class="performers__item">Более 100 ответственных рабочих</li>
      <li class="performers__item">Работаем с 2008 года</li>
      <li class="performers__item">Низкие цены</li>
      <li class="performers__item">Опытный персонал</li>
      <li class="performers__item">Собственный автопарк</li>
    </ul>

    <div class="performers__wrapper">
      {% for performer in performers %}
      <div class="performers__block">
        <img class="performers__img-person" src="{{ performer.photo.url }}" alt="{{ performer.name }}">
        <b class="performers__name">{{ performer.name }}</b>
        <span class="performers__desc">{{ performer.subtitle }}</span>
        <div class="performers__rating">
          <img class="performers__img-star" src="{% static 'assets/img/performers/5.png' %}" alt="Star">
          <span class="performers__num">{{ performer.rating }}</span>
          <span class="performers__sum">{{ performer.rating_number }} оценок</span>
        </div>
      </div>
      {% endfor %}
    </div>

  </div>
</div>
{% endblock %}