{% extends 'base.html' %}

{% load static %}
{% load solo_tags %}
{% load phones %}

{% block meta %}
{% get_solo 'main.MetaTag' as metatag %}
<meta property="og:title" content="{{ metatag.ogtitle_about }}">
<meta property="og:description" content="{{ metatag.ogdescription_about }}" />
<meta property="og:type" content="{{ metatag.ogtype_about }}">
<meta property="og:url" content="{{ metatag.ogurl_about }}">
<meta property="og:site_name" content="{{metatag.ogsitename_about}}">
<meta name="description" content="{{ metatag.description_about }}">
<title>{{ metatag.ogdescription_about }}</title>
{% endblock %}

{% block content %}
  {% get_solo 'main.Documents' as documents %}
  {% get_solo 'main.Contacts' as contacts %}
  {% get_solo 'main.CompanyTextPrivate' as companytextprivate %}

  <div class="company__banner">
    <div class="container company__banner--container">
      <h1 class="company__banner__title">
        Мы работаем<br>круглосуточно
      </h1>
      <span class="company__banner__cost">
        Создаем условия работы, подходящие именно Вам
      </span>
      <div class="company__banner-wrap">
        <a href="{% url 'company' %}" class="company__banner-switch">Компаниям</a>
        <a href="{% url 'company-private' %}" class="company__banner-switch switch--active">Частным лицам</a>
      </div>
    </div>
  </div>

  <div class="time">
    <div class="container">
      <div class="time__block">
        <img class="time__img" src="{% static 'assets/img/time/1.svg' %}" alt="Принимаем заказы">
        <p class="time__desc">
          Принимаем заказы <span class="time__main">с 8:00 до 20:00</span>
        </p>
      </div>
      <div class="time__block">
        <img class="time__img" src="{% static 'assets/img/time/2.svg' %}" alt="Выполняем заказы">
        <p class="time__desc">
          Выполняем заказы <span class="time__main">круглосуточно</span>
        </p>
      </div>
      <div class="time__block">
        <img class="time__img" src="{% static 'assets/img/time/3.svg' %}" alt="Бухгалтерия работает">
        <p class="time__desc">
          Бухгалтерия работает <span class="time__main">с 8:00 до 17:00</span>
        </p>
      </div>
      <div class="time__block">
        <img class="time__img" src="{% static 'assets/img/time/4.svg' %}" alt="Консультация по стоимости">
        <p class="time__desc">
          Консультация
          <br>
          по стоимости и скидкам <span class="time__main">с 8:00 до 20:00</span>
        </p>
      </div>
    </div>
  </div>

  <div class="info info--gray-background">
      <div class="container">
        <h3 class="info__title">{{ companytextprivate.title }}</h3>
        <p class="info__text">{{ companytextprivate.text }}</p>
        </h3>
      </div>
    </div>

  <div class="payment payment--white-background">
    <div class="container">
      <h3 class="payment__title">Выбирайте удобный способ оплаты</h3>
      <div class="payment__wrapper">
        <div class="payment__block">
          <img class="payment__img" src="{% static 'assets/img/payment/1.png' %}" alt="">
          <p class="payment__desc">
            <span class="payment__main">Наличные</span>После выполнения работы
          </p>
        </div>
        <div class="payment__block">
          <img class="payment__img" src="{% static 'assets/img/payment/2.png' %}" alt="">
          <p class="payment__desc">
            <span class="payment__main">Онлайн оплата</span>Переводом на карту физ.лица
          </p>
        </div>
        <div class="payment__block">
          <img class="payment__img" src="{% static 'assets/img/payment/4.png' %}" alt="">
          <p class="payment__desc">
            <span class="payment__main">Терминал оплаты</span>Оплата картой через терминал в офисе
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="quality quality--gray-background">
    <div class="container">
      <h3 class="quality__title">Простой и прозрачный процесс работы</h3>
      <div class="quality__wrapper">
        <div class="quality__block">
          <img class="quality__img" src="{% static 'assets/img/quality/5.svg' %}" alt="Заказ">
          <p class="quality__desc">
              Делаете <span class="quality__main">заказ</span> по телефону
          </p>
        </div>
        <div class="quality__block">
          <img class="quality__img" src="{% static 'assets/img/quality/6.svg' %}" alt="Приезд рабочих">
          <p class="quality__desc">
            Рабочие приезжают <br> в <span class="quality__main">указанное время</span>
          </p>
        </div>
        <div class="quality__block">
          <img class="quality__img" src="{% static 'assets/img/quality/7.svg' %}" alt="Выполнение работы">
          <p class="quality__desc">
              Аккуратно <span class="quality__main">выполняют работу</span>
          </p>
        </div>
        <div class="quality__block">
          <img class="quality__img" src="{% static 'assets/img/quality/2.svg' %}" alt="Оплата">
          <p class="quality__desc">
              Вы <span class="quality__main">оплачиваете</span> работу 
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="performers performers--private">
    <div class="container container--performers">
      <h3 class="performers__title">Проверенные на 100% исполнители</h3>
      <ul class="performers__list">
        <li class="performers__item">Особые условия постоянным клиентам</li>
        <li class="performers__item">Удобная форма оплаты</li>
        <li class="performers__item">Все рабочие — Граждане РФ</li>
        <li class="performers__item">Более 100 ответственных рабочих</li>
        <li class="performers__item">Работаем с 2008 года</li>
        <li class="performers__item">Низкие цены</li>
        <li class="performers__item">Опытный персонал</li>
        <li class="performers__item">Собственный автопарк</li>
      </ul>

      <div class="performers__wrapper">
        {% for performer in performers %}
          <div class="performers__block">
            <img class="performers__img-person" src="{{ performer.photo.url }}" alt="{{ performer.name }}">
            <b class="performers__name">{{ performer.name }}</b>
            <span class="performers__desc">{{ performer.subtitle }}</span>
            <div class="performers__rating">
              <img class="performers__img-star" src="{% static 'assets/img/performers/5.png' %}" alt="Star">
              <span class="performers__num">{{ performer.rating }}</span>
              <span class="performers__sum">{{ performer.rating_number }} оценок</span>
            </div>
          </div>
        {% endfor %}
      </div>

    </div>
  </div>

  <div class="gratitude">
    <div class="container">
      <h3 class="gratitude__title">Благодарности от известных клиентов</h3>
      <div class="gratitude__wrapper">
        {% for client in clients %}
          <div class="gratitude__block">
            <img class="gratitude__img" src="{{ client.logo.url }}" alt="{{ client.name }}">
          </div>
        {% endfor %}
      </div>

      <div class="gratitude__slider">
        {% for thank_letter in thank_letters %}
        <div class="gratitude__slider-block">
          <a data-fancybox="gallery" href="{{ thank_letter.scan.url }}">
            <img class="gratitude__slider-img" src="{{ thank_letter.scan.url }}" alt="{{ thank_letter.name }}">
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="comment">
    <div class="container">
      <h3 class="comment__title">Отзывы</h3>
      <div class="comment__wrapper">          
        {% for review in reviews %}
          <div class="comment__block">
            <b class="comment__head">{{ review.author }}</b>
            <span class="comment__desc">{{ review.phone }}</span>
            <span class="comment__desc">{{ review.city }}</span>
            <p class="comment__text">{{ review.text }}</p>
            {% if review.rating == 5 %}
              <img class="comment__img" src="{% static 'assets/img/comment/1.png' %}" alt="Rating">
            {% elif review.rating == 4 %}
              <img class="comment__img" src="{% static 'assets/img/comment/2.png' %}" alt="Rating">
            {% endif %}
          </div>
        {% endfor %}        
      </div>
    </div>
  </div>

  <div class="consultation consultation__private">
    <div class="container">
      <div class="consultation__block">
        <h5 class="consultation__title">Получите бесплатную консультацию <span
          class="consultation__title--bold">за 30 секунд</span></h5>
        <p class="consultation__desc">
          Позвоните нам
          <span class="consultation__desc--bold">
            прямо сейчас<br>
          </span>
          и узнайте все интересующие вас подробности.
        </p>
        <span class="consultation__phone">
          <a class="no-style-link" href="tel:{{ contacts.phone }}">{{ contacts.phone|phoneformat }}</a>
        </span>
        <span class="consultation__time">с 8:00 до 20:00, ежедневно</span>
        <a href="#request" class="consultation__link button">Заказать звонок</a>
      </div>
    </div>
  </div>

  <div class="question">
    <div class="container">
      <h3 class="question__title">Часто задаваемые вопросы</h3>

      {% for faq in faq_list %}
        <div class="question__block">
          <b class="question__head question__head--active">{{ faq.question }}</b>
          <div class="question__desc">
            {{ faq.answer|safe }}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
