{% extends 'base.html' %}

{% load static %}
{% load solo_tags %}
{% load phones %}

{% block meta %}
{% get_solo 'main.MetaTag' as metatag %}
<meta property="og:title" content="{{ metatag.ogtitle_vac }}">
<meta property="og:description" content="{{ metatag.ogdescription_vac }}" />
<meta property="og:type" content="{{ metatag.ogtype_vac }}">
<meta property="og:url" content="{{ metatag.ogurl_vac }}">
<meta property="og:site_name" content="{{metatag.ogsitename_vac}}">
<meta name="description" content="{{ metatag.description_vac }}">
<title>{{ metatag.ogdescription_vac }}</title>
{% endblock %}

{% block content %}
  {% get_solo 'main.Contacts' as contacts %}

  <div class="banner__vacancy">
    <div class="container banner__vacancy--container">
      <h1 class="banner__vacancy-title">Начни зарабатывать вместе с Грузчик Service</h1>
      <ul class="banner__vacancy-list">
        <li class="banner__vacancy-item">
          <img class="banner__vacancy-img" src="{% static 'assets/img/header/5.png' %}" alt="Check">
          Работай рядом с домом
        </li>
        <li class="banner__vacancy-item">
          <img class="banner__vacancy-img" src="{% static 'assets/img/header/5.png' %}" alt="Check">
          Ежедневные выплаты
        </li>
        <li class="banner__vacancy-item">
          <img class="banner__vacancy-img" src="{% static 'assets/img/header/5.png' %}" alt="Check">
          Выбирай график сам
        </li>
      </ul>
    </div>
  </div>

  <div class="actual__vacancy">
    <div class="container">
      <h3 class="actual__vacancy-title">
        Актуальные вакансии <span class="text-nowrap">на {{ date|date:'j E' }}</span>
      </h3>
      {% if vacancy_list %}
        <div class="actual__vacancy-wrapper">

          <div class="actual__vacancy-block actual__vacancy-available">
            {% for vacancy in vacancy_list %}
              <div class="actual__vacancy-available-elem">
                <button
                  class="actual__vacancy-item{% if forloop.first %} actual__vacancy-item--active{% endif %}"
                  data-tab="tab-{{ vacancy.id }}"
                >
                  {{ vacancy.title }}
                </button>
                <div class="actual__vacancy-available-elem-tab{% if forloop.first %} tab--active{% endif %}"></div>
              </div>
            {% endfor %}
          </div>

          {% for vacancy in vacancy_list %}
            <div class="actual__vacancy-tab{% if forloop.first %} tab--active{% endif %}" id="tab-{{ vacancy.id }}">
              <div class="actual__vacancy-block actual__vacancy-require">
                <div class="actual__vacancy-conditions">
                  <div class="actual__vacancy-wrap actual__vacancy-wrap--level">
                    <span class="actual__vacancy-contract">Уровень зарплаты</span>
                    <p class="actual__vacancy-circs">{{ vacancy.salary }}</p>
                  </div>

                  <div class="actual__vacancy-wrap">
                    <span class="actual__vacancy-contract">Опыт работы</span>
                    <p class="actual__vacancy-circs">{{ vacancy.experience }}</p>
                  </div>
                </div>

                <div class="actual__vacancy-desc">
                  {{ vacancy.description|safe }}
                </div>
                <a href="#profile" class="actual__vacancy-button button">Заполнить анкету</a>
              </div>
            </div>
          {% endfor %}

          <div class="actual__vacancy-block actual__vacancy-contact">
            <p class="actual__vacancy-info">Прием заказов с 8:00 до 20:00</p>
            <span class="actual__vacancy-phone">
              <a class="no-style-link" href="tel:{{ contacts.phone2 }}">
                  {{ contacts.phone2 }}
            </a>
            </span>
            <p class="actual__vacancy-info">Адрес</p>
          <p class="actual__vacancy-address">{{ contacts.adress }}</p>
            <div class="actual__vacancy-map" id="map" data-marker="{% static 'assets/img/office/5.svg'%}"></div>
         </div>

        </div>
      {% else %}
        <p class="no__vacancy-desc">На данный момент нет открытых вакансий</p>
      {% endif %}
    </div>
  </div>

  <div class="reviews">
    <div class="container">
      <h3 class="reviews__title">Наши специалисты о работе в Грузчик-Service</h3>
      <div class="reviews__wrapper">
        {% for performer_review in performer_reviews %}
          <div class="reviews__block">
            <span class="reviews__person">{{ performer_review.author }}</span>
            <span class="reviews__about">{{ performer_review.subtitle }}</span>
            <div class="reviews__img-wrap">
              <img class="reviews__img" src="{{ performer_review.photo.url }}" alt="{{ performer_review.name }}">
            </div>
            <div class="reviews__desc">
              {{ performer_review.text|safe }}
            </div>

          </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="clients">
    <div class="container">
      <h3 class="clients__title">Обслуживаем более 200 клиентов с 2012 года</h3>
      <div class="clients__wrapper">
        {% for client in clients %}
          <div class="clients__block">
            <img class="clients__img" src="{{ client.logo.url }}" alt="{{ client.name }}">
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="interview">
    <div class="container">
      <div class="interview__block">
        <h5 class="interview__title">
          Устройся на работу<span class="interview__title--bold">прямо сейчас</span>
        </h5>
        <p class="interview__desc">
          Вы можете записаться на собеседование
          <br>
          <span class="interview__desc--bold">по телефону</span> или
          <span class="interview__desc--bold">заполнив анкету</span> на сайте
        </p>
        <span class="interview__phone">
          <a class="no-style-link" href="tel:{{ contacts.phone2 }}">{{ contacts.phone2 }}</a>
        </span>
        <span class="interview__time">с 8:00 до 20:00, ежедневно</span>
        <a href="#request" class="interview__link button">Заказать звонок</a>
      </div>
    </div>
  </div>

{% endblock %}

{% block modals %}
  <div id="profile" class="profile">
    <div class="profile__wrapper">
      <b class="profile__title">Заполните анкету</b>
      <p class="profile__desc">Все поля обязательны</p>

      <form class="profile__form form--feedback" method="post" action="{% url 'vacancy_response' %}">
        {% csrf_token %}

        <input class="form__input-field sec-field" type="email" name="recovery">
        <input class="form__input-field sec-field" type="tel" name="info">
        <input class="form__input-field sec-field" type="text" name="text">
        <input name="vacancy" type="hidden" class="profile__form-input profile__form-input--vacancy form-input">
        <div class="profile__form-text">
          <input
            name="first_name"
            type="text"
            class="profile__form-input profile__form-input--name req-input form-input"
            placeholder="Имя"
          >
          <span class="profile__form-birth--error">Введите Ваше имя</span>
        </div>
        <div class="profile__form-text">
          <input
            name="last_name"
            type="text"
            class="profile__form-input profile__form-input--name req-input form-input"
            placeholder="Фамилия"
          >
          <span class="profile__form-birth--error">Введите Вашу фамилию</span>
        </div>
        <div class="profile__form-text">
          <input
            name="patronymic"
            type="text"
            class="profile__form-input profile__form-input--name req-input form-input"
            placeholder="Отчество"
          >
          <span class="profile__form-birth--error">Введите Ваше отчество</span>
        </div>
        <div class="profile__form-wrap">
            <select name="citizenship" class="profile__form-input profile__form-input-select form-input">
              <option value="" hidden disabled selected>Гражданство</option>
              {% for subwidget in form.citizenship.subwidgets %}
                <option value="{{ subwidget.data.value }}">{{ subwidget.choice_label }}</option>
              {% endfor %}
            </select>
          <div class="profile__form-birth">
            <input type="tel" name="birth_date" class="profile__form-input profile__form-input-data data req-input form-input"
                   placeholder="Дата рождения">
            <span class="profile__form-birth--error">Введена неверная дата рождения</span>
          </div>
        </div>
        <div class="profile__form-cover">
          <input type="tel" name="phone" class="profile__form-input profile__form-phone phone req-input form-input"
                 placeholder="Номер телефона">
          <span class="profile__form-cover--error">Введен неверный номер телефона</span>
        </div>
        <input type="submit" class="profile__form-input profile__form-submit button">
      </form>
      <p class="profile__politic">
        Отправляя контакты, вы соглашаетесь
        <span class="text-nowrap">
          с <a href="#politic" class="request__politic--link" href="#">политикой конфиденциальности</a>
        </span>
      </p>
    </div>

    <div id="politic" class="politic politic__wrapper">

      <div class="politic__close">
        <button type="button" data-fancybox-close="" class="politic__close-btn" title="Close">
          <svg xmlns="http://www.w3.org/2000/svg" version="1" viewBox="0 0 24 24">
            <path d="M13 12l5-5-1-1-5 5-5-5-1 1 5 5-5 5 1 1 5-5 5 5 1-1z"></path>
          </svg>
        </button>
      </div>

      <div class="politic__content">
        <h3 class="politic__head">Политика конфиденциальности</h3>
        <p class="politic__desc">Настоящим в соответствии с Федеральным законом № 152-ФЗ «О персональных данных» от
          27.07.2006 года Вы подтверждаете свое согласие на обработку компанией &lt;КОМПАНИЯ&gt; персональных
          данных: сбор, систематизацию, накопление, хранение, уточнение (обновление, изменение), использование,
          передачу исключительно в целях продажи программного обеспечения на Ваше имя, как это описано ниже,
          блокирование, обезличивание, уничтожение.</p>
        <p class="politic__desc">Компания &lt;КОМПАНИЯ&gt; гарантирует конфиденциальность получаемой информации.
          Обработка
          персональных данных осуществляется в целях эффективного исполнения заказов, договоров и иных
          обязательств, принятых компанией &lt;КОМПАНИЯ&gt; в качестве обязательных к исполнению.</p>
        <p class="politic__desc">В случае необходимости предоставления Ваших персональных данных правообладателю,
          дистрибьютору или реселлеру программного обеспечения в целях регистрации программного обеспечения на
          ваше имя, вы даёте согласие на передачу ваших персональных данных. Компания &lt;КОМПАНИЯ&gt; гарантирует, что
          правообладатель, дистрибьютор или реселлер программного обеспечения осуществляет защиту персональных
          данных на условиях, аналогичных изложенным в Политике конфиденциальности персональных данных.</p>
        <p class="politic__desc">Настоящее согласие распространяется на следующие Ваши персональные данные: фамилия,
          имя и отчество, адрес электронной почты, почтовый адрес доставки заказов, контактный телефон, платёжные
          реквизиты.</p>
        <p class="politic__desc">Срок действия согласия является неограниченным. Вы можете в любой момент отозвать
          настоящее согласие, направив письменное уведомления на адрес: 000000, г. &lt;ГОРОД&gt;, ул. &lt;УЛИЦА&gt;, д.
          &lt;ДОМ&gt;,
          офис &lt;ОФИС&gt; с пометкой «Отзыв согласия на обработку персональных данных».</p>
        <p class="politic__desc">Обращаем ваше внимание, что отзыв согласия на обработку персональных данных влечёт
          за собой удаление Вашей учётной записи с Интернет-сайта (http://вашсайт.ru), а также уничтожение
          записей, содержащих ваши персональные данные, в системах обработки персональных данных компании
          &lt;КОМПАНИЯ&gt;, что может сделать невозможным пользование интернет-сервисами компании &lt;КОМПАНИЯ&gt;.</p>
        <p class="politic__desc">Гарантирую, что представленная мной информация является полной, точной и
          достоверной, а также что при представлении информации не нарушаются действующее законодательство
          Российской Федерации, законные права и интересы третьих лиц. Вся представленная информация заполнена
          мною в отношении себя лично.</p>
        <p class="politic__desc">Настоящее согласие действует в течение всего периода хранения персональных данных,
          если иное не предусмотрено законодательством Российской Федерации.</p>
      </div>

    </div>

  </div>
{% endblock %}

{% block scripts %}
  <script rel="preconnect" src="https://api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
{% endblock %}
